In [1]:
import pandas as pd
import math
#from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
import numpy as np
#from sklearn.cross_validation import KFold
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [3]:
loan=pd.read_csv(r"C:/Users/MORA.SHIVARAMAKRISHN/Desktop/python_jupiter/Data/loans data.csv")
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [4]:
loan["Interest.Rate"]

0        8.90%
1       12.12%
2       21.98%
3        9.99%
4       11.71%
         ...
2495    16.77%
2496    14.09%
2497    13.99%
2498    12.42%
2499    13.79%
Name: Interest.Rate, Length: 2500, dtype: object

In [5]:
x=list(loan["Interest.Rate"])
x

['8.90%',
 '12.12%',
 '21.98%',
 '9.99%',
 '11.71%',
 '15.31%',
 '7.90%',
 '17.14%',
 '14.33%',
 '6.91%',
 '19.72%',
 '14.27%',
 '21.67%',
 '8.90%',
 '7.62%',
 '15.65%',
 '12.12%',
 '10.37%',
 '9.76%',
 '9.99%',
 '21.98%',
 '19.05%',
 '17.99%',
 '11.99%',
 '16.82%',
 '7.90%',
 '14.42%',
 '15.31%',
 '8.59%',
 '7.90%',
 '21.00%',
 '12.12%',
 '16.49%',
 '15.80%',
 '13.55%',
 '7.90%',
 '7.90%',
 '7.62%',
 '8.90%',
 '12.49%',
 '17.27%',
 '11.14%',
 '19.13%',
 '21.74%',
 '17.27%',
 '11.86%',
 '10.38%',
 '23.91%',
 '7.49%',
 '12.12%',
 '10.38%',
 '17.44%',
 '17.27%',
 '21.49%',
 '17.80%',
 '11.14%',
 '12.98%',
 '9.99%',
 '14.33%',
 '8.59%',
 '11.49%',
 '10.16%',
 '14.33%',
 '15.80%',
 '9.91%',
 '7.90%',
 '13.11%',
 '16.29%',
 '18.25%',
 '14.09%',
 '19.03%',
 '8.90%',
 '11.83%',
 '17.27%',
 '15.31%',
 '13.12%',
 '6.76%',
 '10.83%',
 '17.77%',
 '7.90%',
 '13.06%',
 '7.62%',
 '17.77%',
 '12.12%',
 '16.49%',
 '11.12%',
 '8.90%',
 '14.09%',
 '7.51%',
 '13.11%',
 '16.29%',
 '7.62%',
 '15.81%',
 '14.35%',
 '14.96%',
 '6.62%',
 '5.99%',
 '11.14%',
 '19.72%',
 '18.75%',
 '13.11%',
 '7.90%',
 '6.62%',
 '21.48%',
 '10.65%',
 '7.62%',
 '6.03%',
 '13.11%',
 '14.09%',
 '14.09%',
 '7.90%',
 '6.03%',
 '6.17%',
 '13.99%',
 '15.80%',
 '10.99%',
 '10.16%',
 '14.09%',
 '6.03%',
 '7.66%',
 '19.05%',
 '8.90%',
 '11.14%',
 '8.49%',
 '15.21%',
 '19.72%',
 '14.65%',
 '14.33%',
 '10.74%',
 '15.70%',
 '9.76%',
 '16.32%',
 '14.07%',
 '14.09%',
 '9.91%',
 '16.40%',
 '6.62%',
 '5.79%',
 '9.88%',
 '15.99%',
 '9.76%',
 '23.28%',
 '9.63%',
 '13.11%',
 '11.14%',
 '13.11%',
 '17.27%',
 '7.51%',
 '14.11%',
 '14.33%',
 '21.49%',
 '8.90%',
 '10.75%',
 '16.69%',
 '13.98%',
 '10.91%',
 '11.48%',
 '13.49%',
 '18.25%',
 '17.77%',
 '6.92%',
 '7.90%',
 '14.33%',
 '10.16%',
 '16.29%',
 '8.90%',
 '12.53%',
 '15.31%',
 '15.27%',
 '15.23%',
 '11.14%',
 '13.11%',
 '8.90%',
 '12.12%',
 '21.28%',
 '10.38%',
 '7.90%',
 '11.14%',
 '7.62%',
 '11.14%',
 '14.33%',
 '7.90%',
 '12.69%',
 '10.16%',
 '19.05%',
 '6.03%',
 '16.89%',
 '8.59%',
 '18.49%',
 '12.69%',
 '13.11%',
 '15.80%',
 '19.05%',
 '19.47%',
 '8.90%',
 '6.17%',
 '10.59%',
 '11.48%',
 '7.88%',
 '14.09%',
 '15.80%',
 '14.83%',
 '8.00%',
 '10.00%',
 '13.98%',
 '8.94%',
 '7.90%',
 '7.90%',
 '12.12%',
 '13.11%',
 '7.90%',
 '8.90%',
 '14.09%',
 '14.09%',
 '17.77%',
 '13.11%',
 '10.16%',
 '13.11%',
 '11.14%',
 '10.65%',
 '15.31%',
 '12.12%',
 '22.47%',
 '7.90%',
 '18.67%',
 '6.03%',
 '12.12%',
 '7.51%',
 '24.89%',
 '12.12%',
 '15.31%',
 '19.91%',
 '14.33%',
 '20.77%',
 '14.09%',
 '12.84%',
 '13.11%',
 '13.67%',
 '10.16%',
 '6.99%',
 '18.49%',
 '16.29%',
 '7.74%',
 '16.29%',
 '6.62%',
 '8.59%',
 '10.75%',
 '8.49%',
 '12.12%',
 '7.90%',
 '8.94%',
 '7.49%',
 '11.03%',
 '10.16%',
 '16.89%',
 '14.35%',
 '14.09%',
 '15.57%',
 '14.59%',
 '16.29%',
 '5.99%',
 '14.65%',
 '7.90%',
 '10.99%',
 '9.62%',
 '20.50%',
 '7.62%',
 '6.91%',
 '17.77%',
 '15.31%',
 '10.16%',
 '10.36%',
 '17.27%',
 '15.27%',
 '17.49%',
 '17.77%',
 '11.54%',
 '12.69%',
 '10.74%',
 '13.99%',
 '15.80%',
 '6.62%',
 '16.49%',
 '13.06%',
 '16.29%',
 '17.49%',
 '18.75%',
 '11.71%',
 '17.27%',
 '10.36%',
 '15.31%',
 '15.80%',
 '6.03%',
 '11.71%',
 '14.12%',
 '19.99%',
 '14.09%',
 '6.62%',
 '8.90%',
 '12.92%',
 '18.67%',
 '9.88%',
 '6.62%',
 '10.38%',
 '7.90%',
 '14.33%',
 '9.91%',
 '19.05%',
 '13.11%',
 '7.90%',
 '7.90%',
 '7.90%',
 '12.99%',
 '11.14%',
 '17.77%',
 '14.27%',
 '20.49%',
 '14.33%',
 '11.71%',
 '9.91%',
 '6.03%',
 '11.99%',
 '19.72%',
 '15.96%',
 '20.49%',
 '14.09%',
 '10.46%',
 '19.72%',
 '14.22%',
 '5.79%',
 '15.31%',
 '15.31%',
 '12.12%',
 '10.38%',
 '5.79%',
 '11.49%',
 '10.16%',
 '19.05%',
 '12.12%',
 '22.47%',
 '5.42%',
 '7.90%',
 '12.12%',
 '15.31%',
 '22.78%',
 '11.11%',
 '17.04%',
 '12.61%',
 '15.80%',
 '10.99%',
 '18.25%',
 '5.99%',
 '9.62%',
 '12.12%',
 '13.49%',
 '14.65%',
 '10.16%',
 '7.90%',
 '17.77%',
 '13.11%',
 '13.06%',
 '16.49%',
 '18.17%',
 '22.78%',
 '10.59%',
 '19.05%',
 '7.43%',
 '15.31%',
 '6.62%',
 '13.11%',
 '14.09%',
 '17.77%',
 '5.42%',
 '10.75%',
 '10.16%',
 '22.95%',
 '13.11%',
 '13.11%',
 '6.03%',
 '16.77%',
 '16.70%',
 '14.91%',
 '19.42%',
 '14.11%',
 '13.99%',
 '12.12%',
 '8.90%',
 '13.11%',
 '10.25%',
 '14.09%',
 '15.31%',
 '10.65%',
 '15.31%',
 '18.75%',
 '19.72%',
 '14.33%',
 '14.33%',
 '8.90%',
 '6.62%',
 '11.71%',
 '7.29%',
 '12.29%',
 '6.03%',
 '8.90%',
 '7.90%',
 '16.29%',
 '22.47%',
 '13.11%',
 '6.62%',
 '12.12%',
 '13.11%',
 '10.37%',
 '15.80%',
 '15.96%',
 '22.47%',
 '15.81%',
 '13.11%',
 '10.16%',
 '6.91%',
 '8.90%',
 '15.80%',
 '14.65%',
 '14.09%',
 '7.29%',
 '15.80%',
 '14.33%',
 '13.11%',
 '13.11%',
 '11.14%',
 '9.91%',
 '16.49%',
 '12.68%',
 '7.90%',
 '16.29%',
 '10.38%',
 '5.79%',
 '12.12%',
 '13.85%',
 '10.16%',
 '10.00%',
 '15.31%',
 '18.75%',
 '19.05%',
 '6.91%',
 '14.65%',
 '9.99%',
 '10.16%',
 '12.42%',
 '10.16%',
 '7.90%',
 '14.09%',
 '21.00%',
 '9.91%',
 '7.62%',
 '15.31%',
 '15.21%',
 '14.11%',
 '15.31%',
 '12.87%',
 '14.33%',
 '18.49%',
 '13.11%',
 '9.63%',
 '17.27%',
 '7.90%',
 '19.05%',
 '13.11%',
 '13.11%',
 '10.99%',
 '14.33%',
 '16.63%',
 '13.11%',
 '22.95%',
 '9.76%',
 '10.38%',
 '13.67%',
 '15.31%',
 '23.28%',
 '18.25%',
 '17.49%',
 '11.99%',
 '11.71%',
 '19.05%',
 '10.16%',
 '14.09%',
 '11.71%',
 '19.72%',
 '11.12%',
 '12.12%',
 '14.84%',
 '11.97%',
 '17.43%',
 '7.90%',
 '19.72%',
 '13.11%',
 '15.31%',
 '16.00%',
 '12.21%',
 '15.31%',
 '15.27%',
 '17.27%',
 '12.12%',
 '17.77%',
 '13.49%',
 '16.32%',
 '14.09%',
 '9.99%',
 '12.12%',
 '12.12%',
 '13.16%',
 '14.09%',
 '7.90%',
 '10.16%',
 '12.21%',
 '11.14%',
 '10.74%',
 '10.25%',
 '11.36%',
 '7.14%',
 '12.12%',
 '10.00%',
 '6.03%',
 '12.29%',
 '6.76%',
 '14.84%',
 '15.96%',
 '6.03%',
 '15.31%',
 '15.80%',
 '12.12%',
 '11.14%',
 '9.32%',
 '17.77%',
 '17.77%',
 '22.47%',
 '16.29%',
 '15.21%',
 '8.90%',
 '13.06%',
 '7.49%',
 '16.29%',
 '7.62%',
 '13.99%',
 '17.77%',
 '10.75%',
 '18.62%',
 '12.69%',
 '14.65%',
 '6.62%',
 '11.14%',
 '21.00%',
 '7.66%',
 '14.18%',
 '11.14%',
 '19.05%',
 '13.98%',
 '14.09%',
 '14.65%',
 '11.89%',
 '17.14%',
 '9.76%',
 '22.47%',
 '7.90%',
 '13.11%',
 '17.27%',
 '14.09%',
 '8.94%',
 '6.17%',
 '10.16%',
 '18.49%',
 '22.11%',
 '11.49%',
 '12.99%',
 '14.09%',
 '10.59%',
 '7.29%',
 '11.71%',
 '16.77%',
 '19.72%',
 '7.62%',
 '15.31%',
 '15.31%',
 '12.12%',
 '16.77%',
 '15.81%',
 '13.49%',
 '9.76%',
 '18.75%',
 '7.51%',
 '10.16%',
 '6.99%',
 '7.51%',
 '12.18%',
 '11.14%',
 '15.96%',
 '10.16%',
 '14.33%',
 '13.11%',
 '12.12%',
 '10.99%',
 '15.23%',
 '7.88%',
 '15.31%',
 '13.11%',
 '10.74%',
 '20.53%',
 '16.07%',
 '12.53%',
 '19.05%',
 '7.90%',
 '16.29%',
 '13.11%',
 '8.90%',
 '11.14%',
 '5.42%',
 '10.65%',
 '10.65%',
 '17.99%',
 '12.42%',
 '18.75%',
 '6.62%',
 '12.53%',
 '13.98%',
 '6.03%',
 '7.51%',
 '11.12%',
 '9.76%',
 '12.12%',
 '9.63%',
 '16.29%',
 '12.42%',
 '14.33%',
 '7.90%',
 '10.74%',
 '15.31%',
 '10.16%',
 '13.35%',
 '17.27%',
 '11.83%',
 '18.25%',
 '7.51%',
 '13.67%',
 '10.37%',
 '11.71%',
 '12.12%',
 '8.63%',
 '7.90%',
 '6.62%',
 '14.70%',
 '10.00%',
 '14.09%',
 '6.91%',
 '13.99%',
 '13.11%',
 '12.12%',
 '7.66%',
 '15.28%',
 '12.12%',
 '8.90%',
 '14.33%',
 '6.54%',
 '16.77%',
 '19.03%',
 '12.12%',
 '7.90%',
 '17.49%',
 '10.74%',
 '10.16%',
 '14.33%',
 '18.25%',
 '13.35%',
 '19.22%',
 '6.03%',
 '14.65%',
 '15.95%',
 '6.17%',
 '16.29%',
 '11.49%',
 '7.90%',
 '9.99%',
 '7.90%',
 '13.48%',
 '14.11%',
 '10.99%',
 '7.90%',
 '7.74%',
 '18.49%',
 '17.27%',
 '14.33%',
 '23.33%',
 '14.09%',
 '15.58%',
 '17.58%',
 '13.72%',
 '13.11%',
 '10.62%',
 '13.43%',
 '11.83%',
 '9.91%',
 '19.05%',
 '11.09%',
 '15.45%',
 '7.90%',
 '19.22%',
 '16.89%',
 '14.09%',
 '6.03%',
 '18.25%',
 '18.75%',
 '17.77%',
 '13.67%',
 '15.31%',
 '18.55%',
 '8.90%',
 '11.14%',
 '13.11%',
 '7.62%',
 '14.33%',
 '12.12%',
 '17.77%',
 '13.11%',
 '19.72%',
 '15.58%',
 '12.69%',
 '17.27%',
 '11.14%',
 '13.49%',
 '7.49%',
 '12.12%',
 '17.77%',
 '21.00%',
 '18.49%',
 '14.33%',
 '14.72%',
 '13.11%',
 '6.17%',
 '6.99%',
 '13.99%',
 '11.26%',
 '17.27%',
 '14.09%',
 '15.31%',
 '14.33%',
 '21.49%',
 '15.80%',
 '17.27%',
 '21.49%',
 '12.53%',
 '17.90%',
 '11.14%',
 '13.11%',
 '7.90%',
 '23.76%',
 '15.31%',
 '14.11%',
 '21.98%',
 '15.31%',
 '14.09%',
 '19.05%',
 '13.49%',
 '16.77%',
 '10.74%',
 '14.65%',
 '9.91%',
 '21.97%',
 '14.65%',
 '17.27%',
 '18.49%',
 '12.53%',
 '13.11%',
 '12.69%',
 '8.90%',
 '7.90%',
 '10.65%',
 '7.90%',
 '15.33%',
 '12.99%',
 '15.99%',
 '10.59%',
 '16.29%',
 '15.31%',
 '16.89%',
 '10.16%',
 '10.25%',
 '13.11%',
 '9.91%',
 '17.27%',
 '8.49%',
 '22.78%',
 '11.71%',
 '17.27%',
 '13.11%',
 '18.55%',
 '13.47%',
 '13.99%',
 '13.99%',
 '15.27%',
 '21.48%',
 '12.18%',
 '9.76%',
 '15.21%',
 '13.85%',
 '19.69%',
 '16.29%',
 '11.48%',
 '13.11%',
 '9.63%',
 '10.08%',
 '10.25%',
 '17.27%',
 '14.33%',
 '18.49%',
 '16.77%',
 '19.03%',
 '11.14%',
 '6.03%',
 '13.67%',
 '11.86%',
 '15.31%',
 '14.91%',
 '16.29%',
 '12.98%',
 '15.31%',
 '15.37%',
 '10.36%',
 '11.12%',
 '8.90%',
 '7.49%',
 '9.91%',
 '17.27%',
 '14.09%',
 '11.14%',
 '6.62%',
 '11.12%',
 '11.49%',
 '6.99%',
 '13.99%',
 '23.28%',
 '13.47%',
 '15.68%',
 '7.29%',
 '20.50%',
 '11.49%',
 '7.90%',
 '16.89%',
 '13.67%',
 '17.27%',
 '11.71%',
 '7.90%',
 '10.62%',
 '11.03%',
 '13.11%',
 '13.11%',
 '10.36%',
 '14.33%',
 '6.62%',
 '16.35%',
 '12.68%',
 '15.20%',
 '15.31%',
 '11.14%',
 '10.99%',
 '19.05%',
 '14.59%',
 '6.03%',
 '12.12%',
 '14.72%',
 '6.62%',
 '23.76%',
 '12.12%',
 '19.05%',
 '6.62%',
 '16.89%',
 '6.54%',
 '10.38%',
 '8.90%',
 '8.90%',
 '14.27%',
 '14.27%',
 '13.11%',
 '15.28%',
 '17.27%',
 '7.51%',
 '12.12%',
 '6.62%',
 '7.90%',
 '7.14%',
 '13.11%',
 '13.11%',
 '18.75%',
 '11.83%',
 '13.67%',
 '14.33%',
 '6.03%',
 '7.62%',
 '12.53%',
 '14.33%',
 '15.33%',
 '18.49%',
 '14.59%',
 '13.75%',
 '5.42%',
 '14.09%',
 '9.32%',
 '13.99%',
 '11.14%',
 '17.99%',
 '16.29%',
 '6.54%',
 '7.90%',
 '12.12%',
 '15.80%',
 '17.77%',
 '15.31%',
 '12.73%',
 '19.72%',
 '11.11%',
 '7.62%',
 '7.14%',
 '7.90%',
 '19.91%',
 '8.07%',
 '18.64%',
 '8.90%',
 '12.12%',
 '11.83%',
 '19.74%',
 '11.14%',
 '14.33%',
 '15.31%',
 '7.66%',
 '9.99%',
 '8.90%',
 '12.12%',
 '10.59%',
 '12.84%',
 '7.90%',
 '7.62%',
 '12.12%',
 '13.49%',
 '12.61%',
 '13.47%',
 '15.23%',
 '13.99%',
 '13.61%',
 '14.22%',
 '6.62%',
 '16.32%',
 '11.89%',
 '10.74%',
 '13.11%',
 '15.95%',
 '5.79%',
 '11.71%',
 '11.71%',
 '12.12%',
 '10.36%',
 '18.25%',
 '13.11%',
 '7.90%',
 '11.71%',
 '12.12%',
 '10.16%',
 '8.32%',
 '13.11%',
 '15.31%',
 '12.12%',
 '12.12%',
 '7.62%',
 '12.69%',
 '10.99%',
 '10.16%',
 '18.75%',
 '14.09%',
 '13.48%',
 '14.33%',
 '13.43%',
 '15.23%',
 '14.33%',
 '15.23%',
 '22.95%',
 '12.18%',
 '6.03%',
 '15.05%',
 '11.12%',
 '7.75%',
 '12.12%',
 '17.27%',
 '12.69%',
 '22.47%',
 '17.27%',
 '12.69%',
 '7.66%',
 '16.29%',
 '18.25%',
 '7.90%',
 '15.96%',
 '20.77%',
 '16.32%',
 '8.63%',
 ...]

In [6]:
x=list(loan["Interest.Rate"])
x
out_list=[]
for i in x:  #converting interest rate to float
    a=i.replace('%',"")
    y=float(a)
    out_list.append(y)
out_list    
intrest=pd.Series(out_list)
loan["Interest.Rate"]=intrest
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [7]:
loan.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [8]:
sum(loan['Debt.To.Income.Ratio'].isnull())

1

In [9]:
list_1=list(loan["Debt.To.Income.Ratio"])
out_list=[]
for i in list_1:
    if type(i)!=str:
        out_list.append(i)
    else:
        a=i.replace('%',"")
        y=float(a)
        out_list.append(y)
out_list    
intrest=pd.Series(out_list)
loan["Debt.To.Income.Ratio"]=intrest
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90,36 months,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12,36 months,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98,60 months,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99,36 months,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71,36 months,credit_card,18.78,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,60 months,debt_consolidation,19.23,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09,60 months,home_improvement,21.54,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99,36 months,debt_consolidation,4.89,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42,36 months,major_purchase,16.66,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79,36 months,debt_consolidation,6.76,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [10]:
loan.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [11]:
loan['Loan.Length'].unique()

array(['36 months', '60 months', '.', nan], dtype=object)

In [12]:
loan['Loan.Length'].value_counts()

36 months    1950
60 months     548
.               1
Name: Loan.Length, dtype: int64

In [13]:
loan.loc[loan['Loan.Length']=='.','Loan.Length']="36 months"  #replacing "."  with 36months in loan.length column
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90,36 months,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12,36 months,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98,60 months,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99,36 months,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71,36 months,credit_card,18.78,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,60 months,debt_consolidation,19.23,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09,60 months,home_improvement,21.54,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99,36 months,debt_consolidation,4.89,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42,36 months,major_purchase,16.66,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79,36 months,debt_consolidation,6.76,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [14]:
loan['Loan.Length'].value_counts()  #checking for above step

36 months    1951
60 months     548
Name: Loan.Length, dtype: int64

In [15]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
ID                                2499 non-null float64
Amount.Requested                  2499 non-null object
Amount.Funded.By.Investors        2499 non-null object
Interest.Rate                     2500 non-null float64
Loan.Length                       2499 non-null object
Loan.Purpose                      2499 non-null object
Debt.To.Income.Ratio              2499 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
FICO.Range                        2500 non-null object
Open.CREDIT.Lines                 2496 non-null object
Revolving.CREDIT.Balance          2497 non-null object
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2422 non-null object
dtypes: float64(5), object(10)
memory usage: 293.1+ KB

In [16]:
loan.isnull().sum()

ID                                 1
Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      0
Loan.Length                        1
Loan.Purpose                       1
Debt.To.Income.Ratio               1
State                              1
Home.Ownership                     1
Monthly.Income                     3
FICO.Range                         0
Open.CREDIT.Lines                  4
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 78
dtype: int64

In [17]:
sum(loan['ID'].isnull())  #so its a nan

1

In [18]:
loan.loc[loan['ID'].isnull()]   #we are seeing for  values in other columns, so we dont drop

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
462,NaN,16000,16000,9.63,60 months,other,16.58,SC,OWN,5000.0,780-784,6,2300,0.0,10+ years

In [19]:
leng=list(loan['Loan.Length'])
ou=[]
for i in leng:
    if i=="36 months":
        ou.append(1)
    if i=="60 months":
        ou.append(0)
ou
ou=pd.Series(ou)
loan['Loan.Length']=ou
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90,1.0,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12,1.0,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98,0.0,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99,1.0,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71,1.0,credit_card,18.78,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,0.0,debt_consolidation,19.23,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09,1.0,home_improvement,21.54,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99,1.0,debt_consolidation,4.89,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42,1.0,major_purchase,16.66,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79,NaN,debt_consolidation,6.76,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [20]:
for i in range(len(loan.index)):
    if loan['Loan.Purpose'][i] in ['car','educational','major_purchase']:
        loan.loc[i,'Loan.Purpose'] = 'cem'
    if loan['Loan.Purpose'][i] in ['home_improvement','medical','vacation','wedding']:
        loan.loc[i,'Loan.Purpose'] = 'hmvw'
    if loan['Loan.Purpose'][i] in ['credit_card','house','other','small_business']:
        loan.loc[i,'Loan.Purpose'] = 'chos'
    if loan['Loan.Purpose'][i] in ['debt_consolidation','moving']:
        loan.loc[i,'Loan.Purpose'] = 'dm'   
lp_dummies=pd.get_dummies(loan['Loan.Purpose'],prefix='LP')
loan=pd.concat([loan,lp_dummies],1)
loan=loan.drop(['Loan.Purpose','LP_renewable_energy'],1)

In [20]:
#dum=pd.get_dummies(loan['Loan.Purpose'],drop_first=True)
#dum

,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding
0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,1,0,0,0,0,0,0,0,0,0,0,0
2496,0,0,0,1,0,0,0,0,0,0,0,0,0
2497,0,1,0,0,0,0,0,0,0,0,0,0,0
2498,0,0,0,0,0,1,0,0,0,0,0,0,0
2499,0,1,0,0,0,0,0,0,0,0,0,0,0

In [20]:
#dum=pd.get_dummies(loan['Loan.Purpose'])
#dum

,car,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2496,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2497,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2498,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2499,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [21]:
#loan['Loan.Purpose'].unique()

KeyError: 'Loan.Purpose'

In [22]:
#loan['Loan.Purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64

In [23]:
#loan=pd.concat([loan,dum],axis=1)
#loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,...,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding
0,81174.0,20000,20000,8.90,1.0,debt_consolidation,14.90,SC,MORTGAGE,6541.67,...,0,0,0,0,0,0,0,0,0,0
1,99592.0,19200,19200,12.12,1.0,debt_consolidation,28.36,TX,MORTGAGE,4583.33,...,0,0,0,0,0,0,0,0,0,0
2,80059.0,35000,35000,21.98,0.0,debt_consolidation,23.81,CA,MORTGAGE,11500.00,...,0,0,0,0,0,0,0,0,0,0
3,15825.0,10000,9975,9.99,1.0,debt_consolidation,14.30,KS,MORTGAGE,3833.33,...,0,0,0,0,0,0,0,0,0,0
4,33182.0,12000,12000,11.71,1.0,credit_card,18.78,NJ,RENT,3195.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,0.0,debt_consolidation,19.23,NY,MORTGAGE,9250.00,...,0,0,0,0,0,0,0,0,0,0
2496,65882.0,16000,16000,14.09,1.0,home_improvement,21.54,MD,OWN,8903.25,...,1,0,0,0,0,0,0,0,0,0
2497,55610.0,10000,10000,13.99,1.0,debt_consolidation,4.89,PA,MORTGAGE,2166.67,...,0,0,0,0,0,0,0,0,0,0
2498,38576.0,6000,6000,12.42,1.0,major_purchase,16.66,NJ,RENT,3500.00,...,0,0,1,0,0,0,0,0,0,0
2499,3116.0,9000,5242.75,13.79,NaN,debt_consolidation,6.76,NY,RENT,3875.00,...,0,0,0,0,0,0,0,0,0,0

In [24]:
#loan=loan.drop(['Loan.Purpose','small_business','car','wedding','medical','moving','vacation','house','educational','renewable_energy'],1)

In [25]:
#del loan['Loan.Purpose']
#loan

In [22]:
loan.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                       float64
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
LP_cem                              uint8
LP_chos                             uint8
LP_dm                               uint8
LP_hmvw                             uint8
dtype: object

In [23]:
loan['State'].value_counts()

CA    433
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
MN     38
AL     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
OK     21
KS     21
UT     16
RI     15
NH     15
WV     14
NM     13
AR     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
MS      1
.       1
IA      1
Name: State, dtype: int64

In [24]:
sum(loan['State'].value_counts())

2499

In [25]:
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw
0,81174.0,20000,20000,8.90,1.0,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year,0,0,1,0
1,99592.0,19200,19200,12.12,1.0,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years,0,0,1,0
2,80059.0,35000,35000,21.98,0.0,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years,0,0,1,0
3,15825.0,10000,9975,9.99,1.0,14.30,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years,0,0,1,0
4,33182.0,12000,12000,11.71,1.0,18.78,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,0.0,19.23,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years,0,0,1,0
2496,65882.0,16000,16000,14.09,1.0,21.54,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years,0,0,0,1
2497,55610.0,10000,10000,13.99,1.0,4.89,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years,0,0,1,0
2498,38576.0,6000,6000,12.42,1.0,16.66,NJ,RENT,3500.00,675-679,8,.,0.0,5 years,1,0,0,0
2499,3116.0,9000,5242.75,13.79,NaN,6.76,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years,0,0,1,0

In [26]:
loan['Home.Ownership'].value_counts()

MORTGAGE    1147
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home.Ownership, dtype: int64

In [27]:
#replacing other and none as mortgage in home.ownership column
loan.loc[loan['Home.Ownership']=='OTHER','Home.Ownership']='MORTGAGE'
loan.loc[loan['Home.Ownership']=='NONE','Home.Ownership']='MORTGAGE'

In [28]:
loan['Home.Ownership'].value_counts()

MORTGAGE    1153
RENT        1146
OWN          200
Name: Home.Ownership, dtype: int64

In [29]:
loan.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                       float64
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
LP_cem                              uint8
LP_chos                             uint8
LP_dm                               uint8
LP_hmvw                             uint8
dtype: object

In [30]:
#modifing FICO range to avg value
fico_list=list(loan['FICO.Range'])
fico_list

['735-739',
 '715-719',
 '690-694',
 '695-699',
 '695-699',
 '670-674',
 '720-724',
 '705-709',
 '685-689',
 '715-719',
 '670-674',
 '665-669',
 '670-674',
 '735-739',
 '725-729',
 '730-734',
 '695-699',
 '740-744',
 '730-734',
 '760-764',
 '665-669',
 '695-699',
 '665-669',
 '695-699',
 '670-674',
 '705-709',
 '675-679',
 '675-679',
 '765-769',
 '760-764',
 '685-689',
 '685-689',
 '720-724',
 '685-689',
 '675-679',
 '780-784',
 '720-724',
 '830-834',
 '715-719',
 '660-664',
 '670-674',
 '720-724',
 '660-664',
 '660-664',
 '675-679',
 '715-719',
 '710-714',
 '670-674',
 '785-789',
 '705-709',
 '750-754',
 '660-664',
 '700-704',
 '665-669',
 '680-684',
 '725-729',
 '670-674',
 '715-719',
 '690-694',
 '755-759',
 '705-709',
 '715-719',
 '680-684',
 '665-669',
 '730-734',
 '725-729',
 '685-689',
 '685-689',
 '705-709',
 '695-699',
 '695-699',
 '715-719',
 '735-739',
 '665-669',
 '670-674',
 '670-674',
 '790-794',
 '700-704',
 '665-669',
 '725-729',
 '710-714',
 '760-764',
 '680-684',
 '690-694',
 '695-699',
 '725-729',
 '810-814',
 '675-679',
 '750-754',
 '685-689',
 '665-669',
 '765-769',
 '670-674',
 '675-679',
 '675-679',
 '750-754',
 '765-769',
 '735-739',
 '665-669',
 '670-674',
 '700-704',
 '705-709',
 '740-744',
 '690-694',
 '720-724',
 '765-769',
 '715-719',
 '710-714',
 '690-694',
 '710-714',
 '775-779',
 '815-819',
 '745-749',
 '660-664',
 '690-694',
 '710-714',
 '725-729',
 '675-679',
 '765-769',
 '735-739',
 '700-704',
 '735-739',
 '690-694',
 '760-764',
 '680-684',
 '695-699',
 '675-679',
 '700-704',
 '695-699',
 '675-679',
 '730-734',
 '665-669',
 '675-679',
 '680-684',
 '725-729',
 '660-664',
 '805-809',
 '745-749',
 '740-744',
 '700-704',
 '720-724',
 '660-664',
 '735-739',
 '700-704',
 '705-709',
 '725-729',
 '660-664',
 '735-739',
 '725-729',
 '705-709',
 '670-674',
 '720-724',
 '715-719',
 '705-709',
 '710-714',
 '690-694',
 '705-709',
 '685-689',
 '660-664',
 '665-669',
 '745-749',
 '740-744',
 '665-669',
 '695-699',
 '680-684',
 '700-704',
 '715-719',
 '710-714',
 '720-724',
 '665-669',
 '700-704',
 '685-689',
 '725-729',
 '685-689',
 '680-684',
 '750-754',
 '800-804',
 '740-744',
 '730-734',
 '720-724',
 '700-704',
 '695-699',
 '695-699',
 '700-704',
 '670-674',
 '745-749',
 '675-679',
 '740-744',
 '660-664',
 '730-734',
 '745-749',
 '700-704',
 '675-679',
 '665-669',
 '730-734',
 '745-749',
 '755-759',
 '790-794',
 '725-729',
 '670-674',
 '665-669',
 '685-689',
 '750-754',
 '715-719',
 '700-704',
 '750-754',
 '730-734',
 '755-759',
 '690-694',
 '690-694',
 '735-739',
 '700-704',
 '690-694',
 '675-679',
 '665-669',
 '730-734',
 '705-709',
 '680-684',
 '760-764',
 '725-729',
 '685-689',
 '710-714',
 '665-669',
 '720-724',
 '660-664',
 '750-754',
 '710-714',
 '730-734',
 '665-669',
 '690-694',
 '670-674',
 '660-664',
 '670-674',
 '665-669',
 '665-669',
 '750-754',
 '720-724',
 '680-684',
 '685-689',
 '760-764',
 '700-704',
 '695-699',
 '750-754',
 '680-684',
 '750-754',
 '790-794',
 '740-744',
 '715-719',
 '710-714',
 '725-729',
 '760-764',
 '730-734',
 '685-689',
 '705-709',
 '670-674',
 '675-679',
 '670-674',
 '700-704',
 '665-669',
 '665-669',
 '750-754',
 '720-724',
 '730-734',
 '800-804',
 '805-809',
 '680-684',
 '730-734',
 '725-729',
 '695-699',
 '690-694',
 '695-699',
 '715-719',
 '665-669',
 '670-674',
 '665-669',
 '685-689',
 '670-674',
 '715-719',
 '715-719',
 '720-724',
 '665-669',
 '780-784',
 '705-709',
 '690-694',
 '670-674',
 '705-709',
 '675-679',
 '685-689',
 '675-679',
 '730-734',
 '680-684',
 '670-674',
 '750-754',
 '745-749',
 '655-659',
 '690-694',
 '690-694',
 '775-779',
 '750-754',
 '665-669',
 '660-664',
 '730-734',
 '800-804',
 '755-759',
 '790-794',
 '685-689',
 '750-754',
 '695-699',
 '685-689',
 '770-774',
 '705-709',
 '795-799',
 '715-719',
 '685-689',
 '665-669',
 '705-709',
 '660-664',
 '740-744',
 '680-684',
 '730-734',
 '785-789',
 '755-759',
 '665-669',
 '665-669',
 '660-664',
 '685-689',
 '680-684',
 '700-704',
 '670-674',
 '730-734',
 '670-674',
 '710-714',
 '710-714',
 '755-759',
 '780-784',
 '715-719',
 '710-714',
 '685-689',
 '690-694',
 '660-664',
 '785-789',
 '720-724',
 '720-724',
 '710-714',
 '675-679',
 '690-694',
 '685-689',
 '675-679',
 '675-679',
 '690-694',
 '690-694',
 '790-794',
 '710-714',
 '675-679',
 '760-764',
 '670-674',
 '715-719',
 '740-744',
 '675-679',
 '695-699',
 '710-714',
 '710-714',
 '685-689',
 '690-694',
 '735-739',
 '660-664',
 '800-804',
 '710-714',
 '740-744',
 '735-739',
 '690-694',
 '660-664',
 '770-774',
 '755-759',
 '710-714',
 '665-669',
 '700-704',
 '705-709',
 '790-794',
 '685-689',
 '690-694',
 '715-719',
 '705-709',
 '700-704',
 '725-729',
 '690-694',
 '720-724',
 '690-694',
 '720-724',
 '685-689',
 '665-669',
 '700-704',
 '680-684',
 '670-674',
 '680-684',
 '670-674',
 '690-694',
 '700-704',
 '780-784',
 '775-779',
 '735-739',
 '685-689',
 '755-759',
 '715-719',
 '730-734',
 '680-684',
 '670-674',
 '685-689',
 '750-754',
 '705-709',
 '680-684',
 '675-679',
 '665-669',
 '695-699',
 '690-694',
 '700-704',
 '700-704',
 '700-704',
 '730-734',
 '715-719',
 '690-694',
 '675-679',
 '725-729',
 '730-734',
 '735-739',
 '685-689',
 '670-674',
 '685-689',
 '715-719',
 '705-709',
 '690-694',
 '695-699',
 '715-719',
 '710-714',
 '735-739',
 '760-764',
 '715-719',
 '705-709',
 '725-729',
 '730-734',
 '675-679',
 '695-699',
 '660-664',
 '760-764',
 '680-684',
 '730-734',
 '730-734',
 '705-709',
 '720-724',
 '705-709',
 '685-689',
 '670-674',
 '730-734',
 '730-734',
 '685-689',
 '700-704',
 '675-679',
 '665-669',
 '720-724',
 '725-729',
 '700-704',
 '670-674',
 '780-784',
 '725-729',
 '720-724',
 '660-664',
 '700-704',
 '685-689',
 '730-734',
 '680-684',
 '680-684',
 '740-744',
 '670-674',
 '780-784',
 '730-734',
 '690-694',
 '695-699',
 '660-664',
 '665-669',
 '695-699',
 '680-684',
 '685-689',
 '690-694',
 '675-679',
 '665-669',
 '720-724',
 '665-669',
 '715-719',
 '690-694',
 '705-709',
 '705-709',
 '675-679',
 '725-729',
 '675-679',
 '690-694',
 '670-674',
 '725-729',
 '700-704',
 '670-674',
 '680-684',
 '670-674',
 '700-704',
 '680-684',
 '690-694',
 '685-689',
 '675-679',
 '745-749',
 '680-684',
 '685-689',
 '670-674',
 '735-739',
 '730-734',
 '690-694',
 '725-729',
 '760-764',
 '745-749',
 '775-779',
 '710-714',
 '760-764',
 '715-719',
 '715-719',
 '750-754',
 '700-704',
 '755-759',
 '670-674',
 '665-669',
 '750-754',
 '670-674',
 '675-679',
 '680-684',
 '670-674',
 '775-779',
 '665-669',
 '660-664',
 '665-669',
 '675-679',
 '680-684',
 '680-684',
 '670-674',
 '730-734',
 '705-709',
 '740-744',
 '685-689',
 '670-674',
 '720-724',
 '685-689',
 '675-679',
 '725-729',
 '740-744',
 '715-719',
 '670-674',
 '700-704',
 '685-689',
 '685-689',
 '660-664',
 '720-724',
 '670-674',
 '710-714',
 '740-744',
 '680-684',
 '740-744',
 '665-669',
 '710-714',
 '685-689',
 '670-674',
 '695-699',
 '720-724',
 '770-774',
 '705-709',
 '670-674',
 '690-694',
 '730-734',
 '685-689',
 '690-694',
 '695-699',
 '725-729',
 '730-734',
 '675-679',
 '680-684',
 '720-724',
 '690-694',
 '665-669',
 '690-694',
 '660-664',
 '680-684',
 '685-689',
 '695-699',
 '690-694',
 '735-739',
 '760-764',
 '750-754',
 '790-794',
 '740-744',
 '720-724',
 '660-664',
 '700-704',
 '700-704',
 '680-684',
 '690-694',
 '700-704',
 '670-674',
 '780-784',
 '665-669',
 '700-704',
 '705-709',
 '675-679',
 '685-689',
 '685-689',
 '690-694',
 '800-804',
 '725-729',
 '690-694',
 '750-754',
 '700-704',
 '790-794',
 '685-689',
 '720-724',
 '675-679',
 '705-709',
 '680-684',
 '735-739',
 '705-709',
 '675-679',
 '740-744',
 '755-759',
 '705-709',
 '710-714',
 '700-704',
 '785-789',
 '690-694',
 '670-674',
 '710-714',
 '720-724',
 '700-704',
 '695-699',
 '720-724',
 '710-714',
 '695-699',
 '715-719',
 '725-729',
 '735-739',
 '710-714',
 '675-679',
 '675-679',
 '710-714',
 '730-734',
 '730-734',
 '720-724',
 '640-644',
 '700-704',
 '680-684',
 '735-739',
 '720-724',
 '675-679',
 '690-694',
 '725-729',
 '720-724',
 '730-734',
 '710-714',
 '760-764',
 '795-799',
 '660-664',
 '680-684',
 '695-699',
 '735-739',
 '670-674',
 '685-689',
 '705-709',
 '690-694',
 '695-699',
 '665-669',
 '680-684',
 '745-749',
 '685-689',
 '665-669',
 '745-749',
 '675-679',
 '725-729',
 '725-729',
 '710-714',
 '725-729',
 '690-694',
 '670-674',
 '695-699',
 '720-724',
 '785-789',
 '675-679',
 '695-699',
 '685-689',
 '665-669',
 '660-664',
 '700-704',
 '690-694',
 '665-669',
 '700-704',
 '720-724',
 '670-674',
 '725-729',
 '705-709',
 '690-694',
 '745-749',
 '640-644',
 '705-709',
 '665-669',
 '665-669',
 '675-679',
 '780-784',
 '690-694',
 '665-669',
 '665-669',
 '675-679',
 '680-684',
 '660-664',
 '715-719',
 '710-714',
 '670-674',
 '775-779',
 '680-684',
 '665-669',
 '665-669',
 '675-679',
 '710-714',
 '695-699',
 '680-684',
 '710-714',
 '715-719',
 '670-674',
 '715-719',
 '695-699',
 '670-674',
 '685-689',
 '695-699',
 '675-679',
 '695-699',
 '680-684',
 '770-774',
 '735-739',
 '715-719',
 '720-724',
 '665-669',
 '685-689',
 '680-684',
 '670-674',
 '675-679',
 '670-674',
 '725-729',
 '660-664',
 '700-704',
 '675-679',
 '705-709',
 '690-694',
 '720-724',
 '665-669',
 '680-684',
 '675-679',
 '680-684',
 '670-674',
 '680-684',
 '685-689',
 '680-684',
 '690-694',
 '720-724',
 '665-669',
 '730-734',
 '670-674',
 '680-684',
 '665-669',
 '660-664',
 '705-709',
 '690-694',
 '720-724',
 '700-704',
 '705-709',
 '720-724',
 '710-714',
 '660-664',
 '710-714',
 '665-669',
 '745-749',
 '710-714',
 '745-749',
 '660-664',
 '730-734',
 '730-734',
 '670-674',
 '730-734',
 '705-709',
 '730-734',
 '665-669',
 '700-704',
 '670-674',
 '745-749',
 '670-674',
 '700-704',
 '725-729',
 '700-704',
 '670-674',
 '665-669',
 '745-749',
 '710-714',
 '670-674',
 '720-724',
 '705-709',
 '680-684',
 '715-719',
 '735-739',
 '790-794',
 '755-759',
 '750-754',
 '680-684',
 '670-674',
 '660-664',
 '685-689',
 '670-674',
 '725-729',
 '780-784',
 '690-694',
 '705-709',
 '685-689',
 '720-724',
 '660-664',
 '665-669',
 '680-684',
 '675-679',
 '765-769',
 '700-704',
 '700-704',
 '730-734',
 '725-729',
 '660-664',
 '710-714',
 '700-704',
 '790-794',
 '775-779',
 '690-694',
 '745-749',
 '730-734',
 '675-679',
 '690-694',
 '680-684',
 '740-744',
 '670-674',
 '780-784',
 '810-814',
 '700-704',
 '695-699',
 '670-674',
 '720-724',
 '765-769',
 '760-764',
 '680-684',
 '675-679',
 '685-689',
 '720-724',
 '675-679',
 '765-769',
 '665-669',
 '690-694',
 '675-679',
 '680-684',
 '700-704',
 '720-724',
 '735-739',
 '705-709',
 '750-754',
 '700-704',
 '660-664',
 '770-774',
 '660-664',
 '715-719',
 '675-679',
 '740-744',
 '695-699',
 '725-729',
 '780-784',
 '705-709',
 '745-749',
 '735-739',
 '665-669',
 '670-674',
 '700-704',
 '670-674',
 '785-789',
 '705-709',
 '740-744',
 '745-749',
 '765-769',
 '680-684',
 '695-699',
 '695-699',
 '705-709',
 '730-734',
 '690-694',
 '770-774',
 '725-729',
 '725-729',
 '715-719',
 '670-674',
 '670-674',
 '690-694',
 '665-669',
 '780-784',
 '685-689',
 '780-784',
 '675-679',
 '670-674',
 '675-679',
 '735-739',
 '730-734',
 '720-724',
 '675-679',
 '675-679',
 '665-669',
 '670-674',
 '675-679',
 '685-689',
 '700-704',
 '735-739',
 '750-754',
 '770-774',
 '670-674',
 '760-764',
 '675-679',
 '730-734',
 '705-709',
 '730-734',
 '660-664',
 '685-689',
 '710-714',
 '695-699',
 '740-744',
 '695-699',
 '760-764',
 '680-684',
 '720-724',
 '670-674',
 '710-714',
 '720-724',
 '685-689',
 '675-679',
 '675-679',
 '690-694',
 '730-734',
 '710-714',
 '695-699',
 '680-684',
 '730-734',
 '700-704',
 '695-699',
 '700-704',
 '740-744',
 '705-709',
 '765-769',
 '725-729',
 '755-759',
 '700-704',
 '690-694',
 '660-664',
 '710-714',
 '720-724',
 '705-709',
 '665-669',
 '710-714',
 '750-754',
 '695-699',
 '670-674',
 '710-714',
 '700-704',
 '765-769',
 '725-729',
 '700-704',
 '765-769',
 '665-669',
 '695-699',
 '710-714',
 '700-704',
 '745-749',
 '705-709',
 '675-679',
 '760-764',
 '685-689',
 '740-744',
 '790-794',
 '675-679',
 '750-754',
 '760-764',
 '690-694',
 '670-674',
 '710-714',
 '660-664',
 '660-664',
 '665-669',
 '725-729',
 '695-699',
 '685-689',
 '755-759',
 '680-684',
 '670-674',
 '695-699',
 '730-734',
 ...]

In [31]:
fico_out=[]
for i in fico_list:
    split_ele=i.split('-')
    summ=float(split_ele[0])+float(split_ele[1])
    avg=summ/2
    fico_out.append(avg)
fico_out
fico_out=pd.Series(fico_out)
loan['FICO.Range']=fico_out

In [32]:
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw
0,81174.0,20000,20000,8.90,1.0,14.90,SC,MORTGAGE,6541.67,737.0,14,14272,2.0,< 1 year,0,0,1,0
1,99592.0,19200,19200,12.12,1.0,28.36,TX,MORTGAGE,4583.33,717.0,12,11140,1.0,2 years,0,0,1,0
2,80059.0,35000,35000,21.98,0.0,23.81,CA,MORTGAGE,11500.00,692.0,14,21977,1.0,2 years,0,0,1,0
3,15825.0,10000,9975,9.99,1.0,14.30,KS,MORTGAGE,3833.33,697.0,10,9346,0.0,5 years,0,0,1,0
4,33182.0,12000,12000,11.71,1.0,18.78,NJ,RENT,3195.00,697.0,11,14469,0.0,9 years,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77,0.0,19.23,NY,MORTGAGE,9250.00,707.0,15,45880,1.0,8 years,0,0,1,0
2496,65882.0,16000,16000,14.09,1.0,21.54,MD,OWN,8903.25,742.0,18,18898,1.0,10+ years,0,0,0,1
2497,55610.0,10000,10000,13.99,1.0,4.89,PA,MORTGAGE,2166.67,682.0,4,4544,0.0,10+ years,0,0,1,0
2498,38576.0,6000,6000,12.42,1.0,16.66,NJ,RENT,3500.00,677.0,8,.,0.0,5 years,1,0,0,0
2499,3116.0,9000,5242.75,13.79,NaN,6.76,NY,RENT,3875.00,672.0,7,7589,0.0,10+ years,0,0,1,0

In [33]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
ID                                2499 non-null float64
Amount.Requested                  2499 non-null object
Amount.Funded.By.Investors        2499 non-null object
Interest.Rate                     2500 non-null float64
Loan.Length                       2499 non-null float64
Debt.To.Income.Ratio              2499 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2496 non-null object
Revolving.CREDIT.Balance          2497 non-null object
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2422 non-null object
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
dtypes: float64(7), object(7), uint8(4)
memory usage: 283.3+ KB

In [34]:
loan.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                       float64
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                        float64
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
LP_cem                              uint8
LP_chos                             uint8
LP_dm                               uint8
LP_hmvw                             uint8
dtype: object

In [35]:
loan[loan['Amount.Requested'].isnull()]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw
1046,32181.0,NaN,10000,11.71,1.0,2.18,CA,RENT,5500.0,722.0,3,5623,0.0,4 years,0,0,1,0

In [36]:
#converting str columns to numeric
for k in ['Amount.Requested','Amount.Funded.By.Investors','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    loan[k]=pd.to_numeric(loan[k],errors='coerce')

In [37]:
loan.dtypes

ID                                float64
Amount.Requested                  float64
Amount.Funded.By.Investors        float64
Interest.Rate                     float64
Loan.Length                       float64
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                        float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
LP_cem                              uint8
LP_chos                             uint8
LP_dm                               uint8
LP_hmvw                             uint8
dtype: object

In [38]:
sum(loan['Amount.Requested'].isnull())  #replacing nan's

5

In [39]:
loan.isnull().sum()

ID                                 1
Amount.Requested                   5
Amount.Funded.By.Investors         5
Interest.Rate                      0
Loan.Length                        1
Debt.To.Income.Ratio               1
State                              1
Home.Ownership                     1
Monthly.Income                     3
FICO.Range                         0
Open.CREDIT.Lines                  9
Revolving.CREDIT.Balance           5
Inquiries.in.the.Last.6.Months     3
Employment.Length                 78
LP_cem                             0
LP_chos                            0
LP_dm                              0
LP_hmvw                            0
dtype: int64

In [40]:
np.mean(loan['Amount.Requested'])

12412.41482965932

In [41]:
for j in ['Amount.Requested','Amount.Funded.By.Investors','Loan.Length','Debt.To.Income.Ratio',
          'Monthly.Income','Open.CREDIT.Lines','Revolving.CREDIT.Balance','Inquiries.in.the.Last.6.Months']:
    loan[j]=loan.loc[loan[j].isnull(),j]=np.mean(loan[j])

In [42]:
loan.isnull().sum()

ID                                 1
Amount.Requested                   0
Amount.Funded.By.Investors         0
Interest.Rate                      0
Loan.Length                        0
Debt.To.Income.Ratio               0
State                              1
Home.Ownership                     1
Monthly.Income                     0
FICO.Range                         0
Open.CREDIT.Lines                  0
Revolving.CREDIT.Balance           0
Inquiries.in.the.Last.6.Months     0
Employment.Length                 78
LP_cem                             0
LP_chos                            0
LP_dm                              0
LP_hmvw                            0
dtype: int64

In [43]:
sum(loan['Amount.Requested'].isnull())

0

In [44]:
sum(loan['Amount.Funded.By.Investors'].isnull())

0

In [45]:
sum(loan['Loan.Length'].isnull())

0

In [46]:
sum(loan['Debt.To.Income.Ratio'].isnull())

0

In [47]:
sum(loan['Monthly.Income'].isnull())

0

In [48]:
sum(loan['Open.CREDIT.Lines'].isnull())

0

In [49]:
sum(loan['Revolving.CREDIT.Balance'].isnull())

0

In [50]:
sum(loan['Inquiries.in.the.Last.6.Months'].isnull())

0

In [51]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
ID                                2499 non-null float64
Amount.Requested                  2500 non-null float64
Amount.Funded.By.Investors        2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2422 non-null object
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
dtypes: float64(11), object(3), uint8(4)
memory usage: 283.3+ KB

In [52]:
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw
0,81174.0,12412.41483,12007.428092,8.90,0.780712,15.376315,SC,MORTGAGE,5689.716608,737.0,10.082698,15253.626052,0.906688,< 1 year,0,0,1,0
1,99592.0,12412.41483,12007.428092,12.12,0.780712,15.376315,TX,MORTGAGE,5689.716608,717.0,10.082698,15253.626052,0.906688,2 years,0,0,1,0
2,80059.0,12412.41483,12007.428092,21.98,0.780712,15.376315,CA,MORTGAGE,5689.716608,692.0,10.082698,15253.626052,0.906688,2 years,0,0,1,0
3,15825.0,12412.41483,12007.428092,9.99,0.780712,15.376315,KS,MORTGAGE,5689.716608,697.0,10.082698,15253.626052,0.906688,5 years,0,0,1,0
4,33182.0,12412.41483,12007.428092,11.71,0.780712,15.376315,NJ,RENT,5689.716608,697.0,10.082698,15253.626052,0.906688,9 years,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,12412.41483,12007.428092,16.77,0.780712,15.376315,NY,MORTGAGE,5689.716608,707.0,10.082698,15253.626052,0.906688,8 years,0,0,1,0
2496,65882.0,12412.41483,12007.428092,14.09,0.780712,15.376315,MD,OWN,5689.716608,742.0,10.082698,15253.626052,0.906688,10+ years,0,0,0,1
2497,55610.0,12412.41483,12007.428092,13.99,0.780712,15.376315,PA,MORTGAGE,5689.716608,682.0,10.082698,15253.626052,0.906688,10+ years,0,0,1,0
2498,38576.0,12412.41483,12007.428092,12.42,0.780712,15.376315,NJ,RENT,5689.716608,677.0,10.082698,15253.626052,0.906688,5 years,1,0,0,0
2499,3116.0,12412.41483,12007.428092,13.79,0.780712,15.376315,NY,RENT,5689.716608,672.0,10.082698,15253.626052,0.906688,10+ years,0,0,1,0

In [53]:
loan['Employment.Length'].unique()

array(['< 1 year', '2 years', '5 years', '9 years', '3 years',
       '10+ years', '8 years', '6 years', '1 year', '7 years', '.',
       '4 years', nan], dtype=object)

In [54]:
list_2=list(loan['Employment.Length'])
list_2

['< 1 year',
 '2 years',
 '2 years',
 '5 years',
 '9 years',
 '3 years',
 '10+ years',
 '10+ years',
 '8 years',
 '3 years',
 '6 years',
 '< 1 year',
 '1 year',
 '1 year',
 '< 1 year',
 '9 years',
 '7 years',
 '9 years',
 '3 years',
 '.',
 '10+ years',
 '6 years',
 '2 years',
 '7 years',
 '3 years',
 '7 years',
 '6 years',
 '5 years',
 '5 years',
 '4 years',
 '9 years',
 '2 years',
 '8 years',
 '3 years',
 '6 years',
 '10+ years',
 '3 years',
 '1 year',
 '4 years',
 '< 1 year',
 '3 years',
 '3 years',
 '8 years',
 '4 years',
 '10+ years',
 '1 year',
 '2 years',
 '< 1 year',
 '10+ years',
 '5 years',
 '2 years',
 '8 years',
 '2 years',
 '9 years',
 '5 years',
 '1 year',
 '4 years',
 '10+ years',
 '10+ years',
 '< 1 year',
 '< 1 year',
 '10+ years',
 '1 year',
 '3 years',
 '10+ years',
 '1 year',
 '5 years',
 '< 1 year',
 '< 1 year',
 '6 years',
 '10+ years',
 '6 years',
 '6 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '7 years',
 '3 years',
 '8 years',
 '3 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '10+ years',
 '7 years',
 '5 years',
 '10+ years',
 '6 years',
 '10+ years',
 '2 years',
 '6 years',
 nan,
 nan,
 '< 1 year',
 '2 years',
 '6 years',
 '6 years',
 '5 years',
 '5 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '< 1 year',
 '4 years',
 '9 years',
 nan,
 '7 years',
 '< 1 year',
 '< 1 year',
 '4 years',
 '1 year',
 nan,
 '2 years',
 '10+ years',
 '4 years',
 '< 1 year',
 nan,
 '4 years',
 '8 years',
 '10+ years',
 '9 years',
 '10+ years',
 '10+ years',
 '4 years',
 '3 years',
 '7 years',
 '< 1 year',
 '9 years',
 nan,
 '10+ years',
 '2 years',
 '2 years',
 '8 years',
 '< 1 year',
 '1 year',
 '< 1 year',
 '9 years',
 '1 year',
 '5 years',
 '10+ years',
 nan,
 '10+ years',
 '< 1 year',
 '4 years',
 '6 years',
 '5 years',
 nan,
 '10+ years',
 '3 years',
 '8 years',
 '9 years',
 '4 years',
 '10+ years',
 '8 years',
 '4 years',
 '3 years',
 '10+ years',
 '2 years',
 '8 years',
 '7 years',
 '1 year',
 '7 years',
 '< 1 year',
 '< 1 year',
 '5 years',
 '4 years',
 '6 years',
 '10+ years',
 '6 years',
 '1 year',
 '5 years',
 '7 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '2 years',
 '< 1 year',
 '3 years',
 '7 years',
 '3 years',
 '10+ years',
 '5 years',
 '3 years',
 '6 years',
 '6 years',
 '10+ years',
 '3 years',
 '1 year',
 '1 year',
 '1 year',
 '2 years',
 '10+ years',
 '1 year',
 '3 years',
 '4 years',
 '3 years',
 '10+ years',
 '10+ years',
 '7 years',
 '10+ years',
 '3 years',
 '3 years',
 '10+ years',
 '10+ years',
 '3 years',
 '4 years',
 '9 years',
 '10+ years',
 '1 year',
 '< 1 year',
 '6 years',
 nan,
 '10+ years',
 '8 years',
 '< 1 year',
 '7 years',
 '7 years',
 '2 years',
 '6 years',
 '10+ years',
 '9 years',
 '10+ years',
 '< 1 year',
 '8 years',
 '2 years',
 '< 1 year',
 '3 years',
 '4 years',
 '8 years',
 '1 year',
 '< 1 year',
 '9 years',
 '2 years',
 '10+ years',
 nan,
 '2 years',
 '3 years',
 '3 years',
 '6 years',
 '1 year',
 '1 year',
 '10+ years',
 '10+ years',
 '< 1 year',
 '8 years',
 '10+ years',
 '3 years',
 '10+ years',
 '2 years',
 '5 years',
 '7 years',
 '6 years',
 '6 years',
 '1 year',
 '8 years',
 '4 years',
 '4 years',
 '5 years',
 '5 years',
 '6 years',
 '2 years',
 '8 years',
 '2 years',
 '8 years',
 '9 years',
 '5 years',
 '2 years',
 '7 years',
 '2 years',
 '6 years',
 '7 years',
 '3 years',
 '5 years',
 '1 year',
 '< 1 year',
 '3 years',
 '1 year',
 '3 years',
 '5 years',
 '6 years',
 '3 years',
 nan,
 '10+ years',
 '< 1 year',
 '5 years',
 '10+ years',
 '10+ years',
 '2 years',
 '10+ years',
 '< 1 year',
 '3 years',
 '10+ years',
 '5 years',
 '10+ years',
 '10+ years',
 '5 years',
 '4 years',
 '5 years',
 '8 years',
 '2 years',
 '6 years',
 '4 years',
 '8 years',
 '8 years',
 '10+ years',
 '5 years',
 nan,
 '5 years',
 '1 year',
 '10+ years',
 '5 years',
 '6 years',
 '3 years',
 '10+ years',
 '4 years',
 '7 years',
 '10+ years',
 '< 1 year',
 '1 year',
 '3 years',
 '5 years',
 '2 years',
 '7 years',
 '10+ years',
 '4 years',
 '8 years',
 '10+ years',
 '10+ years',
 '1 year',
 '8 years',
 '4 years',
 '10+ years',
 '4 years',
 '10+ years',
 '10+ years',
 '6 years',
 '3 years',
 '10+ years',
 '4 years',
 '7 years',
 '4 years',
 '10+ years',
 '2 years',
 '10+ years',
 '5 years',
 '3 years',
 '7 years',
 '2 years',
 '2 years',
 '< 1 year',
 '5 years',
 '3 years',
 '9 years',
 '10+ years',
 '6 years',
 nan,
 '< 1 year',
 '5 years',
 '4 years',
 '10+ years',
 '4 years',
 '3 years',
 '10+ years',
 '1 year',
 '10+ years',
 '7 years',
 '< 1 year',
 '4 years',
 '10+ years',
 '9 years',
 '1 year',
 '8 years',
 '6 years',
 '10+ years',
 '7 years',
 nan,
 '10+ years',
 '10+ years',
 '10+ years',
 '8 years',
 '1 year',
 '5 years',
 '10+ years',
 '1 year',
 '3 years',
 '10+ years',
 '3 years',
 '7 years',
 '10+ years',
 '1 year',
 nan,
 '< 1 year',
 '2 years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '< 1 year',
 '8 years',
 '2 years',
 '4 years',
 '8 years',
 '5 years',
 '10+ years',
 '9 years',
 '< 1 year',
 '3 years',
 '10+ years',
 '1 year',
 '2 years',
 '10+ years',
 '5 years',
 '2 years',
 '10+ years',
 '2 years',
 nan,
 '1 year',
 '7 years',
 '8 years',
 '1 year',
 '3 years',
 '1 year',
 '4 years',
 nan,
 '3 years',
 '6 years',
 '7 years',
 '< 1 year',
 '1 year',
 '5 years',
 '9 years',
 '< 1 year',
 '1 year',
 '10+ years',
 '4 years',
 '2 years',
 '9 years',
 '8 years',
 '3 years',
 '2 years',
 '2 years',
 '10+ years',
 '10+ years',
 nan,
 '4 years',
 '4 years',
 '< 1 year',
 '8 years',
 '2 years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '10+ years',
 '5 years',
 '5 years',
 '2 years',
 '10+ years',
 '10+ years',
 '6 years',
 '1 year',
 '10+ years',
 '1 year',
 '3 years',
 '10+ years',
 '3 years',
 '10+ years',
 '10+ years',
 nan,
 '4 years',
 '3 years',
 '6 years',
 '10+ years',
 '5 years',
 '10+ years',
 '10+ years',
 '10+ years',
 nan,
 '10+ years',
 '5 years',
 '1 year',
 nan,
 '4 years',
 '2 years',
 '1 year',
 '5 years',
 '5 years',
 '5 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '10+ years',
 '1 year',
 '10+ years',
 '10+ years',
 '8 years',
 '< 1 year',
 '3 years',
 '2 years',
 '2 years',
 '10+ years',
 '3 years',
 '6 years',
 '< 1 year',
 '8 years',
 '5 years',
 nan,
 '10+ years',
 '2 years',
 '10+ years',
 '2 years',
 '2 years',
 '2 years',
 '9 years',
 nan,
 '10+ years',
 '7 years',
 '4 years',
 '4 years',
 '10+ years',
 '5 years',
 '2 years',
 '7 years',
 '4 years',
 '8 years',
 '4 years',
 '2 years',
 '5 years',
 '4 years',
 '7 years',
 '6 years',
 '2 years',
 '10+ years',
 '4 years',
 '5 years',
 '2 years',
 '2 years',
 '5 years',
 '8 years',
 '1 year',
 '6 years',
 '10+ years',
 '4 years',
 '10+ years',
 nan,
 '6 years',
 '10+ years',
 '2 years',
 '< 1 year',
 '6 years',
 '6 years',
 '10+ years',
 '10+ years',
 '7 years',
 '10+ years',
 nan,
 '7 years',
 '10+ years',
 '1 year',
 '3 years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '3 years',
 '1 year',
 '10+ years',
 '4 years',
 '1 year',
 '< 1 year',
 '3 years',
 '6 years',
 '5 years',
 '6 years',
 '1 year',
 '10+ years',
 '5 years',
 '7 years',
 '10+ years',
 '5 years',
 '6 years',
 '9 years',
 nan,
 '10+ years',
 '5 years',
 '3 years',
 '5 years',
 '< 1 year',
 '1 year',
 nan,
 '8 years',
 '3 years',
 '10+ years',
 '5 years',
 '5 years',
 '10+ years',
 '2 years',
 '10+ years',
 '10+ years',
 '3 years',
 '6 years',
 '10+ years',
 '< 1 year',
 '6 years',
 '< 1 year',
 '< 1 year',
 '2 years',
 '10+ years',
 '3 years',
 '10+ years',
 '2 years',
 '10+ years',
 '9 years',
 '6 years',
 '10+ years',
 '6 years',
 '< 1 year',
 '10+ years',
 '7 years',
 '3 years',
 '2 years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '1 year',
 '4 years',
 '10+ years',
 nan,
 '5 years',
 '10+ years',
 '4 years',
 '1 year',
 '4 years',
 '2 years',
 '6 years',
 '< 1 year',
 '10+ years',
 '10+ years',
 '3 years',
 '10+ years',
 '10+ years',
 '4 years',
 '10+ years',
 '10+ years',
 '6 years',
 '1 year',
 '6 years',
 '4 years',
 '7 years',
 '10+ years',
 '8 years',
 '1 year',
 '5 years',
 '3 years',
 '3 years',
 '8 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '2 years',
 '5 years',
 '2 years',
 '2 years',
 '10+ years',
 '4 years',
 '10+ years',
 '5 years',
 '3 years',
 '9 years',
 '10+ years',
 '10+ years',
 '3 years',
 '10+ years',
 '10+ years',
 '2 years',
 '10+ years',
 nan,
 '1 year',
 '3 years',
 '2 years',
 '1 year',
 '1 year',
 '1 year',
 '7 years',
 '10+ years',
 '3 years',
 '4 years',
 '2 years',
 '2 years',
 '2 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '3 years',
 '5 years',
 '10+ years',
 '2 years',
 '10+ years',
 '1 year',
 '1 year',
 '3 years',
 '1 year',
 '1 year',
 '2 years',
 '< 1 year',
 '6 years',
 '6 years',
 '4 years',
 '8 years',
 '10+ years',
 '8 years',
 '7 years',
 '4 years',
 '8 years',
 '5 years',
 '10+ years',
 '7 years',
 '3 years',
 '10+ years',
 '10+ years',
 '7 years',
 '10+ years',
 '7 years',
 '< 1 year',
 '2 years',
 '2 years',
 '< 1 year',
 '10+ years',
 '5 years',
 '6 years',
 '9 years',
 '10+ years',
 '10+ years',
 '6 years',
 '5 years',
 nan,
 '10+ years',
 '9 years',
 '10+ years',
 '< 1 year',
 '3 years',
 '9 years',
 '7 years',
 '2 years',
 '10+ years',
 '10+ years',
 '4 years',
 '4 years',
 '10+ years',
 '2 years',
 '2 years',
 '2 years',
 '2 years',
 '7 years',
 '1 year',
 '4 years',
 '8 years',
 '< 1 year',
 '7 years',
 '< 1 year',
 '10+ years',
 '5 years',
 '6 years',
 '3 years',
 '3 years',
 '2 years',
 '2 years',
 '5 years',
 '10+ years',
 '8 years',
 '4 years',
 '2 years',
 '< 1 year',
 '10+ years',
 nan,
 '1 year',
 '9 years',
 '9 years',
 '1 year',
 '2 years',
 '6 years',
 '2 years',
 '10+ years',
 '3 years',
 '10+ years',
 '5 years',
 '10+ years',
 '1 year',
 '8 years',
 '9 years',
 '10+ years',
 '5 years',
 '1 year',
 '7 years',
 '5 years',
 '7 years',
 '6 years',
 '5 years',
 '2 years',
 '2 years',
 '3 years',
 '2 years',
 '3 years',
 '3 years',
 '10+ years',
 '2 years',
 '3 years',
 '2 years',
 '1 year',
 '5 years',
 '4 years',
 '3 years',
 '7 years',
 '10+ years',
 '5 years',
 '10+ years',
 '2 years',
 '3 years',
 '6 years',
 '5 years',
 '10+ years',
 '6 years',
 nan,
 '2 years',
 '3 years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '10+ years',
 '10+ years',
 '2 years',
 '5 years',
 '< 1 year',
 '2 years',
 '5 years',
 '10+ years',
 '2 years',
 '10+ years',
 '6 years',
 '3 years',
 '3 years',
 '9 years',
 '1 year',
 '7 years',
 '4 years',
 '2 years',
 '10+ years',
 '10+ years',
 '2 years',
 '10+ years',
 '1 year',
 '10+ years',
 '1 year',
 '< 1 year',
 '2 years',
 '< 1 year',
 '10+ years',
 '< 1 year',
 '1 year',
 '7 years',
 '< 1 year',
 '4 years',
 '10+ years',
 '4 years',
 '3 years',
 '10+ years',
 '< 1 year',
 '7 years',
 '3 years',
 nan,
 '10+ years',
 '10+ years',
 '< 1 year',
 '6 years',
 '8 years',
 '3 years',
 '10+ years',
 '10+ years',
 '7 years',
 '3 years',
 '7 years',
 '7 years',
 '1 year',
 '10+ years',
 '1 year',
 '5 years',
 '10+ years',
 '10+ years',
 '4 years',
 '< 1 year',
 '5 years',
 '7 years',
 '10+ years',
 '4 years',
 '< 1 year',
 '< 1 year',
 '10+ years',
 '6 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '6 years',
 '10+ years',
 '< 1 year',
 '9 years',
 '2 years',
 '2 years',
 '4 years',
 '5 years',
 '3 years',
 '1 year',
 '3 years',
 '2 years',
 '2 years',
 '< 1 year',
 '< 1 year',
 '4 years',
 '3 years',
 '7 years',
 '10+ years',
 '7 years',
 '< 1 year',
 '9 years',
 '6 years',
 '10+ years',
 '6 years',
 '10+ years',
 '10+ years',
 '1 year',
 '3 years',
 '3 years',
 '10+ years',
 '6 years',
 '3 years',
 '7 years',
 '9 years',
 '1 year',
 '10+ years',
 '< 1 year',
 '10+ years',
 '4 years',
 '10+ years',
 '1 year',
 '2 years',
 '4 years',
 '10+ years',
 '2 years',
 '2 years',
 '8 years',
 '3 years',
 '2 years',
 '1 year',
 '4 years',
 '2 years',
 '10+ years',
 '5 years',
 '10+ years',
 '10+ years',
 '10+ years',
 '10+ years',
 '4 years',
 '10+ years',
 '2 years',
 '3 years',
 '10+ years',
 '6 years',
 '< 1 year',
 '2 years',
 '6 years',
 '4 years',
 '6 years',
 '9 years',
 '5 years',
 '3 years',
 '10+ years',
 '5 years',
 '8 years',
 '3 years',
 '< 1 year',
 '< 1 year',
 '7 years',
 '2 years',
 '10+ years',
 '10+ years',
 '< 1 year',
 '10+ years',
 '1 year',
 '5 years',
 '< 1 year',
 '4 years',
 nan,
 '5 years',
 '10+ years',
 '4 years',
 '10+ years',
 '10+ years',
 '2 years',
 '2 years',
 '7 years',
 '10+ years',
 '3 years',
 '10+ years',
 '8 years',
 ...]

In [55]:
list_2
list_out=[]
for i in list_2:
    if type(i)!=str:
        list_out.append(i)
    else:
        b=i.replace('10+','10')
        b=b.replace('< 1','0')
        b=b.replace('years',"")
        b=b.replace('year',"")
        list_out.append(b)
list_out

['0 ',
 '2 ',
 '2 ',
 '5 ',
 '9 ',
 '3 ',
 '10 ',
 '10 ',
 '8 ',
 '3 ',
 '6 ',
 '0 ',
 '1 ',
 '1 ',
 '0 ',
 '9 ',
 '7 ',
 '9 ',
 '3 ',
 '.',
 '10 ',
 '6 ',
 '2 ',
 '7 ',
 '3 ',
 '7 ',
 '6 ',
 '5 ',
 '5 ',
 '4 ',
 '9 ',
 '2 ',
 '8 ',
 '3 ',
 '6 ',
 '10 ',
 '3 ',
 '1 ',
 '4 ',
 '0 ',
 '3 ',
 '3 ',
 '8 ',
 '4 ',
 '10 ',
 '1 ',
 '2 ',
 '0 ',
 '10 ',
 '5 ',
 '2 ',
 '8 ',
 '2 ',
 '9 ',
 '5 ',
 '1 ',
 '4 ',
 '10 ',
 '10 ',
 '0 ',
 '0 ',
 '10 ',
 '1 ',
 '3 ',
 '10 ',
 '1 ',
 '5 ',
 '0 ',
 '0 ',
 '6 ',
 '10 ',
 '6 ',
 '6 ',
 '10 ',
 '10 ',
 '10 ',
 '7 ',
 '3 ',
 '8 ',
 '3 ',
 '10 ',
 '10 ',
 '10 ',
 '10 ',
 '7 ',
 '5 ',
 '10 ',
 '6 ',
 '10 ',
 '2 ',
 '6 ',
 nan,
 nan,
 '0 ',
 '2 ',
 '6 ',
 '6 ',
 '5 ',
 '5 ',
 '10 ',
 '10 ',
 '10 ',
 '0 ',
 '4 ',
 '9 ',
 nan,
 '7 ',
 '0 ',
 '0 ',
 '4 ',
 '1 ',
 nan,
 '2 ',
 '10 ',
 '4 ',
 '0 ',
 nan,
 '4 ',
 '8 ',
 '10 ',
 '9 ',
 '10 ',
 '10 ',
 '4 ',
 '3 ',
 '7 ',
 '0 ',
 '9 ',
 nan,
 '10 ',
 '2 ',
 '2 ',
 '8 ',
 '0 ',
 '1 ',
 '0 ',
 '9 ',
 '1 ',
 '5 ',
 '10 ',
 nan,
 '10 ',
 '0 ',
 '4 ',
 '6 ',
 '5 ',
 nan,
 '10 ',
 '3 ',
 '8 ',
 '9 ',
 '4 ',
 '10 ',
 '8 ',
 '4 ',
 '3 ',
 '10 ',
 '2 ',
 '8 ',
 '7 ',
 '1 ',
 '7 ',
 '0 ',
 '0 ',
 '5 ',
 '4 ',
 '6 ',
 '10 ',
 '6 ',
 '1 ',
 '5 ',
 '7 ',
 '10 ',
 '10 ',
 '10 ',
 '2 ',
 '0 ',
 '3 ',
 '7 ',
 '3 ',
 '10 ',
 '5 ',
 '3 ',
 '6 ',
 '6 ',
 '10 ',
 '3 ',
 '1 ',
 '1 ',
 '1 ',
 '2 ',
 '10 ',
 '1 ',
 '3 ',
 '4 ',
 '3 ',
 '10 ',
 '10 ',
 '7 ',
 '10 ',
 '3 ',
 '3 ',
 '10 ',
 '10 ',
 '3 ',
 '4 ',
 '9 ',
 '10 ',
 '1 ',
 '0 ',
 '6 ',
 nan,
 '10 ',
 '8 ',
 '0 ',
 '7 ',
 '7 ',
 '2 ',
 '6 ',
 '10 ',
 '9 ',
 '10 ',
 '0 ',
 '8 ',
 '2 ',
 '0 ',
 '3 ',
 '4 ',
 '8 ',
 '1 ',
 '0 ',
 '9 ',
 '2 ',
 '10 ',
 nan,
 '2 ',
 '3 ',
 '3 ',
 '6 ',
 '1 ',
 '1 ',
 '10 ',
 '10 ',
 '0 ',
 '8 ',
 '10 ',
 '3 ',
 '10 ',
 '2 ',
 '5 ',
 '7 ',
 '6 ',
 '6 ',
 '1 ',
 '8 ',
 '4 ',
 '4 ',
 '5 ',
 '5 ',
 '6 ',
 '2 ',
 '8 ',
 '2 ',
 '8 ',
 '9 ',
 '5 ',
 '2 ',
 '7 ',
 '2 ',
 '6 ',
 '7 ',
 '3 ',
 '5 ',
 '1 ',
 '0 ',
 '3 ',
 '1 ',
 '3 ',
 '5 ',
 '6 ',
 '3 ',
 nan,
 '10 ',
 '0 ',
 '5 ',
 '10 ',
 '10 ',
 '2 ',
 '10 ',
 '0 ',
 '3 ',
 '10 ',
 '5 ',
 '10 ',
 '10 ',
 '5 ',
 '4 ',
 '5 ',
 '8 ',
 '2 ',
 '6 ',
 '4 ',
 '8 ',
 '8 ',
 '10 ',
 '5 ',
 nan,
 '5 ',
 '1 ',
 '10 ',
 '5 ',
 '6 ',
 '3 ',
 '10 ',
 '4 ',
 '7 ',
 '10 ',
 '0 ',
 '1 ',
 '3 ',
 '5 ',
 '2 ',
 '7 ',
 '10 ',
 '4 ',
 '8 ',
 '10 ',
 '10 ',
 '1 ',
 '8 ',
 '4 ',
 '10 ',
 '4 ',
 '10 ',
 '10 ',
 '6 ',
 '3 ',
 '10 ',
 '4 ',
 '7 ',
 '4 ',
 '10 ',
 '2 ',
 '10 ',
 '5 ',
 '3 ',
 '7 ',
 '2 ',
 '2 ',
 '0 ',
 '5 ',
 '3 ',
 '9 ',
 '10 ',
 '6 ',
 nan,
 '0 ',
 '5 ',
 '4 ',
 '10 ',
 '4 ',
 '3 ',
 '10 ',
 '1 ',
 '10 ',
 '7 ',
 '0 ',
 '4 ',
 '10 ',
 '9 ',
 '1 ',
 '8 ',
 '6 ',
 '10 ',
 '7 ',
 nan,
 '10 ',
 '10 ',
 '10 ',
 '8 ',
 '1 ',
 '5 ',
 '10 ',
 '1 ',
 '3 ',
 '10 ',
 '3 ',
 '7 ',
 '10 ',
 '1 ',
 nan,
 '0 ',
 '2 ',
 '10 ',
 '0 ',
 '10 ',
 '0 ',
 '8 ',
 '2 ',
 '4 ',
 '8 ',
 '5 ',
 '10 ',
 '9 ',
 '0 ',
 '3 ',
 '10 ',
 '1 ',
 '2 ',
 '10 ',
 '5 ',
 '2 ',
 '10 ',
 '2 ',
 nan,
 '1 ',
 '7 ',
 '8 ',
 '1 ',
 '3 ',
 '1 ',
 '4 ',
 nan,
 '3 ',
 '6 ',
 '7 ',
 '0 ',
 '1 ',
 '5 ',
 '9 ',
 '0 ',
 '1 ',
 '10 ',
 '4 ',
 '2 ',
 '9 ',
 '8 ',
 '3 ',
 '2 ',
 '2 ',
 '10 ',
 '10 ',
 nan,
 '4 ',
 '4 ',
 '0 ',
 '8 ',
 '2 ',
 '10 ',
 '0 ',
 '10 ',
 '10 ',
 '5 ',
 '5 ',
 '2 ',
 '10 ',
 '10 ',
 '6 ',
 '1 ',
 '10 ',
 '1 ',
 '3 ',
 '10 ',
 '3 ',
 '10 ',
 '10 ',
 nan,
 '4 ',
 '3 ',
 '6 ',
 '10 ',
 '5 ',
 '10 ',
 '10 ',
 '10 ',
 nan,
 '10 ',
 '5 ',
 '1 ',
 nan,
 '4 ',
 '2 ',
 '1 ',
 '5 ',
 '5 ',
 '5 ',
 '10 ',
 '10 ',
 '10 ',
 '10 ',
 '1 ',
 '10 ',
 '10 ',
 '8 ',
 '0 ',
 '3 ',
 '2 ',
 '2 ',
 '10 ',
 '3 ',
 '6 ',
 '0 ',
 '8 ',
 '5 ',
 nan,
 '10 ',
 '2 ',
 '10 ',
 '2 ',
 '2 ',
 '2 ',
 '9 ',
 nan,
 '10 ',
 '7 ',
 '4 ',
 '4 ',
 '10 ',
 '5 ',
 '2 ',
 '7 ',
 '4 ',
 '8 ',
 '4 ',
 '2 ',
 '5 ',
 '4 ',
 '7 ',
 '6 ',
 '2 ',
 '10 ',
 '4 ',
 '5 ',
 '2 ',
 '2 ',
 '5 ',
 '8 ',
 '1 ',
 '6 ',
 '10 ',
 '4 ',
 '10 ',
 nan,
 '6 ',
 '10 ',
 '2 ',
 '0 ',
 '6 ',
 '6 ',
 '10 ',
 '10 ',
 '7 ',
 '10 ',
 nan,
 '7 ',
 '10 ',
 '1 ',
 '3 ',
 '10 ',
 '0 ',
 '10 ',
 '3 ',
 '1 ',
 '10 ',
 '4 ',
 '1 ',
 '0 ',
 '3 ',
 '6 ',
 '5 ',
 '6 ',
 '1 ',
 '10 ',
 '5 ',
 '7 ',
 '10 ',
 '5 ',
 '6 ',
 '9 ',
 nan,
 '10 ',
 '5 ',
 '3 ',
 '5 ',
 '0 ',
 '1 ',
 nan,
 '8 ',
 '3 ',
 '10 ',
 '5 ',
 '5 ',
 '10 ',
 '2 ',
 '10 ',
 '10 ',
 '3 ',
 '6 ',
 '10 ',
 '0 ',
 '6 ',
 '0 ',
 '0 ',
 '2 ',
 '10 ',
 '3 ',
 '10 ',
 '2 ',
 '10 ',
 '9 ',
 '6 ',
 '10 ',
 '6 ',
 '0 ',
 '10 ',
 '7 ',
 '3 ',
 '2 ',
 '10 ',
 '0 ',
 '10 ',
 '1 ',
 '4 ',
 '10 ',
 nan,
 '5 ',
 '10 ',
 '4 ',
 '1 ',
 '4 ',
 '2 ',
 '6 ',
 '0 ',
 '10 ',
 '10 ',
 '3 ',
 '10 ',
 '10 ',
 '4 ',
 '10 ',
 '10 ',
 '6 ',
 '1 ',
 '6 ',
 '4 ',
 '7 ',
 '10 ',
 '8 ',
 '1 ',
 '5 ',
 '3 ',
 '3 ',
 '8 ',
 '10 ',
 '10 ',
 '10 ',
 '2 ',
 '5 ',
 '2 ',
 '2 ',
 '10 ',
 '4 ',
 '10 ',
 '5 ',
 '3 ',
 '9 ',
 '10 ',
 '10 ',
 '3 ',
 '10 ',
 '10 ',
 '2 ',
 '10 ',
 nan,
 '1 ',
 '3 ',
 '2 ',
 '1 ',
 '1 ',
 '1 ',
 '7 ',
 '10 ',
 '3 ',
 '4 ',
 '2 ',
 '2 ',
 '2 ',
 '10 ',
 '10 ',
 '10 ',
 '3 ',
 '5 ',
 '10 ',
 '2 ',
 '10 ',
 '1 ',
 '1 ',
 '3 ',
 '1 ',
 '1 ',
 '2 ',
 '0 ',
 '6 ',
 '6 ',
 '4 ',
 '8 ',
 '10 ',
 '8 ',
 '7 ',
 '4 ',
 '8 ',
 '5 ',
 '10 ',
 '7 ',
 '3 ',
 '10 ',
 '10 ',
 '7 ',
 '10 ',
 '7 ',
 '0 ',
 '2 ',
 '2 ',
 '0 ',
 '10 ',
 '5 ',
 '6 ',
 '9 ',
 '10 ',
 '10 ',
 '6 ',
 '5 ',
 nan,
 '10 ',
 '9 ',
 '10 ',
 '0 ',
 '3 ',
 '9 ',
 '7 ',
 '2 ',
 '10 ',
 '10 ',
 '4 ',
 '4 ',
 '10 ',
 '2 ',
 '2 ',
 '2 ',
 '2 ',
 '7 ',
 '1 ',
 '4 ',
 '8 ',
 '0 ',
 '7 ',
 '0 ',
 '10 ',
 '5 ',
 '6 ',
 '3 ',
 '3 ',
 '2 ',
 '2 ',
 '5 ',
 '10 ',
 '8 ',
 '4 ',
 '2 ',
 '0 ',
 '10 ',
 nan,
 '1 ',
 '9 ',
 '9 ',
 '1 ',
 '2 ',
 '6 ',
 '2 ',
 '10 ',
 '3 ',
 '10 ',
 '5 ',
 '10 ',
 '1 ',
 '8 ',
 '9 ',
 '10 ',
 '5 ',
 '1 ',
 '7 ',
 '5 ',
 '7 ',
 '6 ',
 '5 ',
 '2 ',
 '2 ',
 '3 ',
 '2 ',
 '3 ',
 '3 ',
 '10 ',
 '2 ',
 '3 ',
 '2 ',
 '1 ',
 '5 ',
 '4 ',
 '3 ',
 '7 ',
 '10 ',
 '5 ',
 '10 ',
 '2 ',
 '3 ',
 '6 ',
 '5 ',
 '10 ',
 '6 ',
 nan,
 '2 ',
 '3 ',
 '10 ',
 '0 ',
 '10 ',
 '10 ',
 '10 ',
 '2 ',
 '5 ',
 '0 ',
 '2 ',
 '5 ',
 '10 ',
 '2 ',
 '10 ',
 '6 ',
 '3 ',
 '3 ',
 '9 ',
 '1 ',
 '7 ',
 '4 ',
 '2 ',
 '10 ',
 '10 ',
 '2 ',
 '10 ',
 '1 ',
 '10 ',
 '1 ',
 '0 ',
 '2 ',
 '0 ',
 '10 ',
 '0 ',
 '1 ',
 '7 ',
 '0 ',
 '4 ',
 '10 ',
 '4 ',
 '3 ',
 '10 ',
 '0 ',
 '7 ',
 '3 ',
 nan,
 '10 ',
 '10 ',
 '0 ',
 '6 ',
 '8 ',
 '3 ',
 '10 ',
 '10 ',
 '7 ',
 '3 ',
 '7 ',
 '7 ',
 '1 ',
 '10 ',
 '1 ',
 '5 ',
 '10 ',
 '10 ',
 '4 ',
 '0 ',
 '5 ',
 '7 ',
 '10 ',
 '4 ',
 '0 ',
 '0 ',
 '10 ',
 '6 ',
 '10 ',
 '10 ',
 '10 ',
 '6 ',
 '10 ',
 '0 ',
 '9 ',
 '2 ',
 '2 ',
 '4 ',
 '5 ',
 '3 ',
 '1 ',
 '3 ',
 '2 ',
 '2 ',
 '0 ',
 '0 ',
 '4 ',
 '3 ',
 '7 ',
 '10 ',
 '7 ',
 '0 ',
 '9 ',
 '6 ',
 '10 ',
 '6 ',
 '10 ',
 '10 ',
 '1 ',
 '3 ',
 '3 ',
 '10 ',
 '6 ',
 '3 ',
 '7 ',
 '9 ',
 '1 ',
 '10 ',
 '0 ',
 '10 ',
 '4 ',
 '10 ',
 '1 ',
 '2 ',
 '4 ',
 '10 ',
 '2 ',
 '2 ',
 '8 ',
 '3 ',
 '2 ',
 '1 ',
 '4 ',
 '2 ',
 '10 ',
 '5 ',
 '10 ',
 '10 ',
 '10 ',
 '10 ',
 '4 ',
 '10 ',
 '2 ',
 '3 ',
 '10 ',
 '6 ',
 '0 ',
 '2 ',
 '6 ',
 '4 ',
 '6 ',
 '9 ',
 '5 ',
 '3 ',
 '10 ',
 '5 ',
 '8 ',
 '3 ',
 '0 ',
 '0 ',
 '7 ',
 '2 ',
 '10 ',
 '10 ',
 '0 ',
 '10 ',
 '1 ',
 '5 ',
 '0 ',
 '4 ',
 nan,
 '5 ',
 '10 ',
 '4 ',
 '10 ',
 '10 ',
 '2 ',
 '2 ',
 '7 ',
 '10 ',
 '3 ',
 '10 ',
 '8 ',
 ...]

In [56]:
list_out=pd.Series(list_out)
list_out
list_out=pd.to_numeric(list_out,errors='coerce')
list_out

0        0.0
1        2.0
2        2.0
3        5.0
4        9.0
        ...
2495     8.0
2496    10.0
2497    10.0
2498     5.0
2499    10.0
Length: 2500, dtype: float64

In [57]:
loan['Employment.Length']=list_out
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw
0,81174.0,12412.41483,12007.428092,8.90,0.780712,15.376315,SC,MORTGAGE,5689.716608,737.0,10.082698,15253.626052,0.906688,0.0,0,0,1,0
1,99592.0,12412.41483,12007.428092,12.12,0.780712,15.376315,TX,MORTGAGE,5689.716608,717.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0
2,80059.0,12412.41483,12007.428092,21.98,0.780712,15.376315,CA,MORTGAGE,5689.716608,692.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0
3,15825.0,12412.41483,12007.428092,9.99,0.780712,15.376315,KS,MORTGAGE,5689.716608,697.0,10.082698,15253.626052,0.906688,5.0,0,0,1,0
4,33182.0,12412.41483,12007.428092,11.71,0.780712,15.376315,NJ,RENT,5689.716608,697.0,10.082698,15253.626052,0.906688,9.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,12412.41483,12007.428092,16.77,0.780712,15.376315,NY,MORTGAGE,5689.716608,707.0,10.082698,15253.626052,0.906688,8.0,0,0,1,0
2496,65882.0,12412.41483,12007.428092,14.09,0.780712,15.376315,MD,OWN,5689.716608,742.0,10.082698,15253.626052,0.906688,10.0,0,0,0,1
2497,55610.0,12412.41483,12007.428092,13.99,0.780712,15.376315,PA,MORTGAGE,5689.716608,682.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0
2498,38576.0,12412.41483,12007.428092,12.42,0.780712,15.376315,NJ,RENT,5689.716608,677.0,10.082698,15253.626052,0.906688,5.0,1,0,0,0
2499,3116.0,12412.41483,12007.428092,13.79,0.780712,15.376315,NY,RENT,5689.716608,672.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0

In [58]:
loan['Employment.Length'].value_counts()

10.0    653
0.0     249
2.0     243
3.0     235
5.0     202
4.0     191
1.0     177
6.0     163
7.0     127
8.0     108
9.0      72
Name: Employment.Length, dtype: int64

In [59]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
ID                                2499 non-null float64
Amount.Requested                  2500 non-null float64
Amount.Funded.By.Investors        2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2420 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
dtypes: float64(12), object(2), uint8(4)
memory usage: 283.3+ KB

In [60]:
loan.loc[loan['Employment.Length'].isnull(),'Employment.Length']=np.mean(loan['Employment.Length'])

In [61]:
loan.isnull().sum()

ID                                1
Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Debt.To.Income.Ratio              0
State                             1
Home.Ownership                    1
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
LP_cem                            0
LP_chos                           0
LP_dm                             0
LP_hmvw                           0
dtype: int64

In [62]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
ID                                2499 non-null float64
Amount.Requested                  2500 non-null float64
Amount.Funded.By.Investors        2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2500 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
dtypes: float64(12), object(2), uint8(4)
memory usage: 283.3+ KB

In [63]:
loan['State'].value_counts()  #replacing nan with most frequent values

CA    433
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
MN     38
AL     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
OK     21
KS     21
UT     16
RI     15
NH     15
WV     14
NM     13
AR     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
MS      1
.       1
IA      1
Name: State, dtype: int64

In [64]:
loan.loc[loan['State'].isnull(),"State"]='CA'

In [65]:
loan.loc[loan['State']=='.',"State"]='CA'

In [66]:
loan['State'].value_counts()

CA    435
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
AL     38
MN     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
RI     15
NH     15
WV     14
NM     13
AR     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
IA      1
MS      1
Name: State, dtype: int64

In [67]:
loan['Home.Ownership'].value_counts()

MORTGAGE    1153
RENT        1146
OWN          200
Name: Home.Ownership, dtype: int64

In [68]:
loan.loc[loan['Home.Ownership'].isnull(),"Home.Ownership"]='MORTGAGE'  #replacing nan with most frequent values

In [69]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
ID                                2499 non-null float64
Amount.Requested                  2500 non-null float64
Amount.Funded.By.Investors        2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
State                             2500 non-null object
Home.Ownership                    2500 non-null object
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2500 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
dtypes: float64(12), object(2), uint8(4)
memory usage: 283.3+ KB

In [70]:
loan['State'].value_counts()

CA    435
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
AL     38
MN     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
RI     15
NH     15
WV     14
NM     13
AR     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
IA      1
MS      1
Name: State, dtype: int64

In [71]:
z=loan.groupby(['State'])['Interest.Rate'].mean()
z

State
AK    16.594545
AL    13.144211
AR    13.230000
AZ    13.150652
CA    12.943241
CO    12.919672
CT    13.721000
DC    13.741818
DE    11.661250
FL    12.964852
GA    12.611546
HI    15.984167
IA    14.120000
IL    12.616337
IN    13.090000
KS    13.717619
KY    12.382609
LA    14.920455
MA    12.613014
MD    13.278971
MI    14.375556
MN    13.621842
MO    12.783333
MS    15.650000
MT    10.774286
NC    12.640312
NH    12.171333
NJ    12.778617
NM    14.325385
NV    13.512187
NY    13.102392
OH    12.259296
OK    13.780952
OR    12.657000
PA    12.538646
RI    13.013333
SC    12.790357
SD    10.252500
TX    13.381954
UT    13.174375
VA    13.337564
VT    17.884000
WA    12.977759
WI    13.881923
WV    14.070000
WY    13.465000
Name: Interest.Rate, dtype: float64

In [72]:
sum(z.value_counts())

46

In [73]:
list_state=list(loan['State'])
list_state
a=['CA','CO','FL','GA','IL','KY','MA','MO','NC','NH','NJ','OH','OR','PA','SC','WA']
b=['AL','AR','AZ','CT','DC','IN','KS','MD','MN','NV','NY','OK','TX','UT','VA','WI','WY']
c=['IA','LA','MI','NM','RI','WV']
state_12=[]
state_13=[]
state_14=[]
for i in list_state:
    if i in a:
        state_12.append(1)
    else:
        state_12.append(0)
    if i in b:
        state_13.append(1)
    else:
        state_13.append(0)
    if i in c:
        state_14.append(1)
    else:
        state_14.append(0)
#print(state_12)
#print(state_13)
#print(state_14)
state_12=pd.Series(state_12)
state_13=pd.Series(state_13)
state_14=pd.Series(state_14)
loan['state_12']=state_12
loan['state_13']=state_13
loan['state_14']=state_14

In [74]:
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,...,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw,state_12,state_13,state_14
0,81174.0,12412.41483,12007.428092,8.90,0.780712,15.376315,SC,MORTGAGE,5689.716608,737.0,...,15253.626052,0.906688,0.0,0,0,1,0,1,0,0
1,99592.0,12412.41483,12007.428092,12.12,0.780712,15.376315,TX,MORTGAGE,5689.716608,717.0,...,15253.626052,0.906688,2.0,0,0,1,0,0,1,0
2,80059.0,12412.41483,12007.428092,21.98,0.780712,15.376315,CA,MORTGAGE,5689.716608,692.0,...,15253.626052,0.906688,2.0,0,0,1,0,1,0,0
3,15825.0,12412.41483,12007.428092,9.99,0.780712,15.376315,KS,MORTGAGE,5689.716608,697.0,...,15253.626052,0.906688,5.0,0,0,1,0,0,1,0
4,33182.0,12412.41483,12007.428092,11.71,0.780712,15.376315,NJ,RENT,5689.716608,697.0,...,15253.626052,0.906688,9.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,12412.41483,12007.428092,16.77,0.780712,15.376315,NY,MORTGAGE,5689.716608,707.0,...,15253.626052,0.906688,8.0,0,0,1,0,0,1,0
2496,65882.0,12412.41483,12007.428092,14.09,0.780712,15.376315,MD,OWN,5689.716608,742.0,...,15253.626052,0.906688,10.0,0,0,0,1,0,1,0
2497,55610.0,12412.41483,12007.428092,13.99,0.780712,15.376315,PA,MORTGAGE,5689.716608,682.0,...,15253.626052,0.906688,10.0,0,0,1,0,1,0,0
2498,38576.0,12412.41483,12007.428092,12.42,0.780712,15.376315,NJ,RENT,5689.716608,677.0,...,15253.626052,0.906688,5.0,1,0,0,0,1,0,0
2499,3116.0,12412.41483,12007.428092,13.79,0.780712,15.376315,NY,RENT,5689.716608,672.0,...,15253.626052,0.906688,10.0,0,0,1,0,0,1,0

In [75]:
del loan['State']
loan

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw,state_12,state_13,state_14
0,81174.0,12412.41483,12007.428092,8.90,0.780712,15.376315,MORTGAGE,5689.716608,737.0,10.082698,15253.626052,0.906688,0.0,0,0,1,0,1,0,0
1,99592.0,12412.41483,12007.428092,12.12,0.780712,15.376315,MORTGAGE,5689.716608,717.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0,0,1,0
2,80059.0,12412.41483,12007.428092,21.98,0.780712,15.376315,MORTGAGE,5689.716608,692.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0,1,0,0
3,15825.0,12412.41483,12007.428092,9.99,0.780712,15.376315,MORTGAGE,5689.716608,697.0,10.082698,15253.626052,0.906688,5.0,0,0,1,0,0,1,0
4,33182.0,12412.41483,12007.428092,11.71,0.780712,15.376315,RENT,5689.716608,697.0,10.082698,15253.626052,0.906688,9.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,12412.41483,12007.428092,16.77,0.780712,15.376315,MORTGAGE,5689.716608,707.0,10.082698,15253.626052,0.906688,8.0,0,0,1,0,0,1,0
2496,65882.0,12412.41483,12007.428092,14.09,0.780712,15.376315,OWN,5689.716608,742.0,10.082698,15253.626052,0.906688,10.0,0,0,0,1,0,1,0
2497,55610.0,12412.41483,12007.428092,13.99,0.780712,15.376315,MORTGAGE,5689.716608,682.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0,1,0,0
2498,38576.0,12412.41483,12007.428092,12.42,0.780712,15.376315,RENT,5689.716608,677.0,10.082698,15253.626052,0.906688,5.0,1,0,0,0,1,0,0
2499,3116.0,12412.41483,12007.428092,13.79,0.780712,15.376315,RENT,5689.716608,672.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0,0,1,0

In [76]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 20 columns):
ID                                2499 non-null float64
Amount.Requested                  2500 non-null float64
Amount.Funded.By.Investors        2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
Home.Ownership                    2500 non-null object
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2500 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
state_12                          2500 non-null int64
state_13                          2500 non-null int64
state_14                          2500 non-null int64
dtypes: float64(12), int64(3), object(1), uint8(4)
memory usage: 322.4+ KB

In [77]:
del loan['ID']
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,LP_cem,LP_chos,LP_dm,LP_hmvw,state_12,state_13,state_14
0,12412.41483,12007.428092,8.90,0.780712,15.376315,MORTGAGE,5689.716608,737.0,10.082698,15253.626052,0.906688,0.0,0,0,1,0,1,0,0
1,12412.41483,12007.428092,12.12,0.780712,15.376315,MORTGAGE,5689.716608,717.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0,0,1,0
2,12412.41483,12007.428092,21.98,0.780712,15.376315,MORTGAGE,5689.716608,692.0,10.082698,15253.626052,0.906688,2.0,0,0,1,0,1,0,0
3,12412.41483,12007.428092,9.99,0.780712,15.376315,MORTGAGE,5689.716608,697.0,10.082698,15253.626052,0.906688,5.0,0,0,1,0,0,1,0
4,12412.41483,12007.428092,11.71,0.780712,15.376315,RENT,5689.716608,697.0,10.082698,15253.626052,0.906688,9.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,12412.41483,12007.428092,16.77,0.780712,15.376315,MORTGAGE,5689.716608,707.0,10.082698,15253.626052,0.906688,8.0,0,0,1,0,0,1,0
2496,12412.41483,12007.428092,14.09,0.780712,15.376315,OWN,5689.716608,742.0,10.082698,15253.626052,0.906688,10.0,0,0,0,1,0,1,0
2497,12412.41483,12007.428092,13.99,0.780712,15.376315,MORTGAGE,5689.716608,682.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0,1,0,0
2498,12412.41483,12007.428092,12.42,0.780712,15.376315,RENT,5689.716608,677.0,10.082698,15253.626052,0.906688,5.0,1,0,0,0,1,0,0
2499,12412.41483,12007.428092,13.79,0.780712,15.376315,RENT,5689.716608,672.0,10.082698,15253.626052,0.906688,10.0,0,0,1,0,0,1,0

In [78]:
home_dum=pd.get_dummies(loan['Home.Ownership'])
home_dum

      MORTGAGE  OWN  RENT
0            1    0     0
1            1    0     0
2            1    0     0
3            1    0     0
4            0    0     1
...        ...  ...   ...
2495         1    0     0
2496         0    1     0
2497         1    0     0
2498         0    0     1
2499         0    0     1

[2500 rows x 3 columns]

In [79]:
loan=pd.concat([loan,home_dum],axis=1)
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,...,LP_cem,LP_chos,LP_dm,LP_hmvw,state_12,state_13,state_14,MORTGAGE,OWN,RENT
0,12412.41483,12007.428092,8.90,0.780712,15.376315,MORTGAGE,5689.716608,737.0,10.082698,15253.626052,...,0,0,1,0,1,0,0,1,0,0
1,12412.41483,12007.428092,12.12,0.780712,15.376315,MORTGAGE,5689.716608,717.0,10.082698,15253.626052,...,0,0,1,0,0,1,0,1,0,0
2,12412.41483,12007.428092,21.98,0.780712,15.376315,MORTGAGE,5689.716608,692.0,10.082698,15253.626052,...,0,0,1,0,1,0,0,1,0,0
3,12412.41483,12007.428092,9.99,0.780712,15.376315,MORTGAGE,5689.716608,697.0,10.082698,15253.626052,...,0,0,1,0,0,1,0,1,0,0
4,12412.41483,12007.428092,11.71,0.780712,15.376315,RENT,5689.716608,697.0,10.082698,15253.626052,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,12412.41483,12007.428092,16.77,0.780712,15.376315,MORTGAGE,5689.716608,707.0,10.082698,15253.626052,...,0,0,1,0,0,1,0,1,0,0
2496,12412.41483,12007.428092,14.09,0.780712,15.376315,OWN,5689.716608,742.0,10.082698,15253.626052,...,0,0,0,1,0,1,0,0,1,0
2497,12412.41483,12007.428092,13.99,0.780712,15.376315,MORTGAGE,5689.716608,682.0,10.082698,15253.626052,...,0,0,1,0,1,0,0,1,0,0
2498,12412.41483,12007.428092,12.42,0.780712,15.376315,RENT,5689.716608,677.0,10.082698,15253.626052,...,1,0,0,0,1,0,0,0,0,1
2499,12412.41483,12007.428092,13.79,0.780712,15.376315,RENT,5689.716608,672.0,10.082698,15253.626052,...,0,0,1,0,0,1,0,0,0,1

In [80]:
loan=loan.drop(['state_12','state_13','state_14','Amount.Funded.By.Investors'],1)

In [81]:
del loan['Home.Ownership']

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
loan_train, loan_test=train_test_split(loan, test_size=0.2,random_state=2)

In [84]:
loan_train.shape

(2000, 17)

In [85]:
loan_test.shape

(500, 17)

In [86]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 17 columns):
Amount.Requested                  2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2500 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
MORTGAGE                          2500 non-null uint8
OWN                               2500 non-null uint8
RENT                              2500 non-null uint8
dtypes: float64(10), uint8(7)
memory usage: 212.5 KB

In [87]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [88]:
lm=LinearRegression()

In [89]:
x_train=loan_train.drop(['Interest.Rate'],1)  #dependentent variable columns
y_train=loan_train['Interest.Rate']  #independent variable columns
x_test=loan_test.drop(['Interest.Rate'],1)
y_test=loan_test['Interest.Rate']

In [90]:
loan.isnull().sum()

Amount.Requested                  0
Interest.Rate                     0
Loan.Length                       0
Debt.To.Income.Ratio              0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
LP_cem                            0
LP_chos                           0
LP_dm                             0
LP_hmvw                           0
MORTGAGE                          0
OWN                               0
RENT                              0
dtype: int64

In [91]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 17 columns):
Amount.Requested                  2500 non-null float64
Interest.Rate                     2500 non-null float64
Loan.Length                       2500 non-null float64
Debt.To.Income.Ratio              2500 non-null float64
Monthly.Income                    2500 non-null float64
FICO.Range                        2500 non-null float64
Open.CREDIT.Lines                 2500 non-null float64
Revolving.CREDIT.Balance          2500 non-null float64
Inquiries.in.the.Last.6.Months    2500 non-null float64
Employment.Length                 2500 non-null float64
LP_cem                            2500 non-null uint8
LP_chos                           2500 non-null uint8
LP_dm                             2500 non-null uint8
LP_hmvw                           2500 non-null uint8
MORTGAGE                          2500 non-null uint8
OWN                               2500 non-null uint8
RENT                              2500 non-null uint8
dtypes: float64(10), uint8(7)
memory usage: 212.5 KB

In [92]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [93]:
p_test=lm.predict(x_test)

In [94]:
p_test.shape

(500,)

In [95]:
residual=p_test-y_test
residual

1310   -2.886079
2461    3.798245
1580    3.060965
1938    0.359604
1124   -0.512179
          ...
781     0.118363
2454   -3.125447
2090    2.269155
215    -1.612087
2375    3.179127
Name: Interest.Rate, Length: 500, dtype: float64

In [96]:
rmse_lm=np.sqrt(np.dot(residual,residual)/len(p_test))

rmse_lm

2.8320306603090506

In [97]:
p_train=lm.predict(x_train)

residual1=p_train-y_train

rmse_lm1=np.sqrt(np.dot(residual1,residual1)/len(p_train))

rmse_lm1

2.9477410239088977

In [101]:
from sklearn import linear_model

In [110]:
sgdcl = linear_model.SGDClassifier(max_iter=1000, tol=1e-3)

In [111]:
sgdcl.fit(x_train,y_train)

ValueError: Unknown label type: (array([ 5.42,  5.79,  5.99,  6.  ,  6.03,  6.17,  6.54,  6.62,  6.76,
        6.91,  6.92,  6.99,  7.14,  7.29,  7.4 ,  7.43,  7.49,  7.51,
        7.62,  7.66,  7.68,  7.74,  7.75,  7.88,  7.9 ,  7.91,  8.  ,
        8.07,  8.32,  8.49,  8.59,  8.63,  8.88,  8.9 ,  8.94,  9.07,
        9.2 ,  9.25,  9.32,  9.33,  9.62,  9.63,  9.76,  9.88,  9.91,
        9.99, 10.  , 10.08, 10.16, 10.2 , 10.25, 10.28, 10.36, 10.37,
       10.38, 10.46, 10.59, 10.62, 10.65, 10.74, 10.75, 10.83, 10.91,
       10.95, 10.99, 11.03, 11.09, 11.11, 11.12, 11.14, 11.26, 11.36,
       11.48, 11.49, 11.54, 11.58, 11.66, 11.71, 11.83, 11.86, 11.89,
       11.97, 11.99, 12.12, 12.18, 12.21, 12.23, 12.29, 12.41, 12.42,
       12.49, 12.53, 12.61, 12.68, 12.69, 12.73, 12.84, 12.86, 12.87,
       12.92, 12.98, 12.99, 13.06, 13.11, 13.12, 13.16, 13.17, 13.22,
       13.23, 13.24, 13.3 , 13.35, 13.43, 13.47, 13.48, 13.49, 13.55,
       13.57, 13.61, 13.67, 13.72, 13.75, 13.79, 13.8 , 13.85, 13.87,
       13.92, 13.93, 13.98, 13.99, 14.07, 14.09, 14.11, 14.17, 14.18,
       14.22, 14.26, 14.27, 14.33, 14.35, 14.42, 14.46, 14.59, 14.61,
       14.65, 14.72, 14.74, 14.79, 14.82, 14.83, 14.84, 14.91, 14.96,
       15.01, 15.05, 15.13, 15.2 , 15.21, 15.23, 15.27, 15.28, 15.31,
       15.33, 15.37, 15.45, 15.57, 15.58, 15.62, 15.65, 15.68, 15.8 ,
       15.81, 15.95, 15.96, 15.99, 16.  , 16.02, 16.07, 16.29, 16.32,
       16.4 , 16.45, 16.49, 16.63, 16.69, 16.7 , 16.71, 16.77, 16.82,
       16.89, 17.04, 17.14, 17.15, 17.19, 17.27, 17.43, 17.44, 17.49,
       17.51, 17.54, 17.56, 17.58, 17.77, 17.88, 17.9 , 17.93, 17.99,
       18.25, 18.29, 18.3 , 18.39, 18.49, 18.55, 18.62, 18.64, 18.67,
       18.75, 18.79, 19.03, 19.04, 19.05, 19.13, 19.22, 19.41, 19.42,
       19.47, 19.69, 19.72, 19.74, 19.91, 19.99, 20.25, 20.3 , 20.49,
       20.5 , 20.52, 20.53, 20.77, 20.89, 20.99, 21.  , 21.14, 21.27,
       21.28, 21.48, 21.49, 21.67, 21.74, 21.97, 21.98, 22.11, 22.45,
       22.47, 22.78, 22.95, 23.28, 23.33, 23.76, 23.83, 23.91, 24.2 ,
       24.33, 24.7 , 24.89]),)